<div style="left:0px;top:0px;">
	<div>
		<label class="div-help-title"><%Quick setup%></label>
		<ul class="list-entry">
			<li><a href="javascript:popWanSetting();"><%WAN settings%></a></li>
			<li><a href="javascript:change_lanip();"><%Change LAN IP%></a></li>
			<li><a href="javascript:popWifiSetting();"><%Wireless settings%></a></li>
			<li><a href="javascript:setup_access();"><%Access port and password%></a></li>
			<li><a href="javascript:check_firmware();"><%Enable/disable firmware update%></a></li>
		</ul>
	</div>
	<div style="display:none">
		<label class="div-help-title"><%Quick help%></label>
		<ul class="list-entry">
			<li><a href="http://www.gl-inet.com/docs/smartrouter/?router_3g.html"><%How to connect 3G modem%></a></li>
			<li><a href="http://www.gl-inet.com/docs/smartrouter/?router_basic.html"><%How to setup as client or repeater%></a></li>
			<li><a href="http://www.gl-inet.com/docs/smartrouter/?router_macclone.html"><%How to connect to hotel network%></a></li>			
		</ul>
	</div>
	<div style="display:none">
		<label class="div-help-title">DIY</label>
		<ul class="list-entry">
			<li><a href="http://www.gl-inet.com/docs/smartrouter/?diy_serial.html"><%How to use serial UART%></a></li>
			<li><a href="http://www.gl-inet.com/docs/smartrouter/?diy_arduino.html"><%How to work with Arduino%></a></li>
			<li><a href="http://www.gl-inet.com/docs/smartrouter/?diy_compile.html"><%How to use my own firmware%></a></li>
		</ul>
	</div>
</div>
