<div id="app-firmware">
	<div id="div-firmware-siddebar" class="page-sidebar">
		<ul class="list-entry">
			<li><a style="color:white" id="show-online" href="javascript: show_online();"><%Online Firmware Update%></a></li>
			<li><a id="show-nodes" href="javascript: show_upload();"><%Upload Firmware Manually%></a></li>
			<li><a id="show-network" href="javascript: show_factory();"><%Revert to Factory Default%></a></li>
		</ul>
	</div>
	<div id="div-firmware-main" class="page-content">
		<form id="form-firmware">
		<input type="hidden" name="action" value="setautoupdate">
		<input type="hidden" name="token" value="">
		<div class="subcontent" id="div-online">
			<div><label><%Status%></label></div>
			<table>
				<tr><td><%Current Version%> </td><td id='current-version'></td></tr>
				<tr><td><%Auto Update%></td><td>
					<div class="onoffswitch">
						<input type="checkbox" name="auto_update" class="onoffswitch-checkbox" id="firmware_autoupdate" checked>
						<label class="onoffswitch-label" for="firmware_autoupdate">
							<div class="onoffswitch-inner"></div>
							<div class="onoffswitch-switch"></div>
						</label>
					</div>
					<label class="msg2" id="msg-autoupdate"></label>
				</td></tr>
				<tr><td><%Auto Update Time%> </td><td>
						<select id="update_time" name="update_time">
							<option>00:00</option>
							<option>01:00</option>
							<option>02:00</option>
							<option>03:00</option>
							<option>04:00</option>
							<option>05:00</option>
							<option>06:00</option>
							<option>07:00</option>
							<option>08:00</option>
							<option>09:00</option>
							<option>10:00</option>
							<option>11:00</option>
							<option>12:00</option>
							<option>13:00</option>
							<option>14:00</option>
							<option>15:00</option>
							<option>16:00</option>
							<option>17:00</option>
							<option>18:00</option>
							<option>19:00</option>
							<option>20:00</option>
							<option>21:00</option>
							<option>22:00</option>
							<option>23:00</option>
							<option>24:00</option>
						</select>
						<label class="msg2" id="msg-time"></label>
				</td></tr>
			</table>
		</div>
		<div class="subcontent" id="div-history">
			<div><label><%Newest version%></label></div>
			<div id="div-firmware-history">

			</div>
		</div>
		<div class="subcontent" id="div-upload">
			<div><label><%Upload Firmware%></label></div>
			<div>
				<label for="firmware-upload-file"></label>
				<input type="file" id="firmware-upload-file" name="file" style="display:none" data-url="/cgi-bin/firmware_cgi">
			</div>
			<div class="drop" id="filedrop">
				<span id="upload-progress"><%Click here to select files or drag and drop your file here%></span>
			</div>
			<div id="div-upload-check">
				<table id="table-upload-check">

				</table>
			</div>
		</div>
		<div class="subcontent" id="div-nodes-status" style="display:none">
			<div>The firmware is distributed to all the nodes.</div>
			<table id="table-nodes-status" style="width: 80%; border: 1px solid lightgray;">
				<tbody>
				<tr><td>#</td><td>Hostname</td><td>MAC</td><td>IP</td><td>Status</td></tr>
				</tbody>
			</table>
		</div>
		</form>
		<div class="subcontent" id="div-factory">
			<div><label><%Revert to factory default status%></label></div>
			<table>
			<tr><td><%Warning%>:</td><td>
			<%In case of malfunction, you can always revert to factory default setting. But all your current settings, application and data will be lost. It will take about 3 minutes. Don't power off the devices.%>
			</td></tr>
			<tr><td></td><td><input type="button" id="button-revert" value="Revert"></td></tr>
			<tr><td></td><td><label id="div_factory_msg"></label></td></tr>
			</table>
		</div>
	</div>

</div>


<script>
	$("#firmware_autoupdate").change(function(){ update_firmware_setting('enable')});
	$("#update_time").change(function(){ update_firmware_setting('time')});
	$("#div-firmware-history").empty();
	$("#button-revert").click(function(){revert_factory();});
	$("input[name='token']").val(token);
	//check_versions();
	function check_versions(){
		$("#div-firmware-history").html("<img src='/images/loading.gif'><%Checking%>...");
		$.ajax({
			type: "GET",
			url: "/cgi-bin/firmware_cgi?action=checkversions",
			dataType: 'json',
			timeout: 60000,
			success: function(result){
				$("#div-firmware-history").html("");
				$("#current-version").text(result.version);
				for(var i=0;i<result.history.length;i++){
					version_info=result.history[i];
					$("#div-firmware-history").append("<div><%Version%>: "+version_info.version+ (result.has_new && i==0?"<input type='button' style='margin-left:50px;' onclick='online_upgrade()' value='<%Download this version%>'>" :"") +"</div>");
					$("#div-firmware-history").append(result.has_new && i==0?"<div id='div-download' class='progress-bar hide'><span></span></div>" :"");
					$("#div-firmware-history").append("<div id='div-download-check'><table id='table-download-check'></table></div>");
					$("#div-firmware-history").append("<div>"+version_info.description+"</div>");
				}
			}
		});
	}
	//simplified check version
	check_version();
	function check_version(){
		$("#div-firmware-history").html("<img src='/images/loading.gif'><%Checking%>...");
		$.ajax({
			type: "GET",
			url: "/cgi-bin/firmware_cgi?action=checkversion",
			dataType: 'json',
			timeout: 60000,
			success: function(result){
				$("#div-firmware-history").html("");
				$("#current-version").text(result.version);
				version_new=result.version_new.split("\t");
				$("#div-firmware-history").append("<div><%Version%>: "+version_new[0]+ (result.has_new?"<input type='button' style='margin-left:50px;' onclick='online_upgrade()' value='<%Download this version%>'>" :"") +"</div>");
				$("#div-firmware-history").append(result.has_new?"<div id='div-download' class='progress-bar hide'><span></span></div>" :"");
				$("#div-firmware-history").append("<div id='div-download-check'><table id='table-download-check'></table></div>");
			}
		});
	}
	$.ajax({
		type: "GET",
		url: "/cgi-bin/firmware_cgi?action=checkautoupdate",
		dataType: 'json',
		timeout: 60000,
		success: function(result){
			$("#firmware_autoupdate").prop('checked',result.enabled);
			$("#update_time").val(result.time);
		}
	});
	function update_firmware_setting(arg){
		if(arg=='enable'){
			$("#msg-autoupdate").text("<%Updating%>...")
			$("#msg-autoupdate").removeClass('hidden');
		}else if(arg=='time'){
			$("#msg-time").text("Updating...");
			$("#msg-time").removeClass('hidden');
		}
		$.ajax({
			type: "GET",
			url: "/cgi-bin/firmware_cgi",
			data: $("#form-firmware").serialize(),
			dataType: 'json',
			timeout: 60000,
			success: function(result){
				if(arg=='enable'){
					$("#msg-autoupdate").text("Done");
					$("#msg-autoupdate").addClass('hidden');
				}else if(arg=='time'){
					$("#msg-time").text("Done");
					$("#msg-time").addClass('hidden');
				}
			}
		});
	}
	function show_online(){
		$("#div-online").show();
		$("#div-factory").hide();
		$("#div-history").show();
		$("#div-upload").hide();
		check_version();
	}

	function show_upload(){
		$("#div-online").hide();
		$("#div-factory").hide();
		$("#div-history").hide();
		$("#div-upload").show();
		var obj=$("#filedrop");
		obj.on('dragenter',function(e){
			e.stopPropagation();
			e.preventDefault();
		});
		obj.on('dragover', function (e)
		{
			$(this).css('border-color', 'white');
			 e.stopPropagation();
			 e.preventDefault();
		});
		obj.on('dragleave', function (e)
		{
			$(this).css('border-color', 'rgb(160, 175, 160)');
		});
		obj.on('drop', function (e)
		{
			$(this).css('border-color', 'rgb(160, 175, 160)');
			 e.preventDefault();
			 var files = e.originalEvent.dataTransfer.files;

			 //We need to send dropped files to Server
			 handleFileUpload(files,obj);
		});
	}
	function handleFileUpload(files,obj){
		$("#upload-progress").text("");
		var fd=new FormData();
		fd.append('file',files[0]);
		fd.append('token',token);
		var jqXHR=$.ajax({
            xhr: function() {
				var xhrobj = $.ajaxSettings.xhr();
				if (xhrobj.upload) {
                    xhrobj.upload.addEventListener('progress', function(event) {
                        var percent = 0;
                        var position = event.loaded || event.position;
                        var total = event.total;
                        if (event.lengthComputable) {
                            percent = Math.ceil(position / total * 100);
                        }
                        $("#upload-progress").css('width',percent +"%");
                        $("#upload-progress").css('background','green');
                        $("#upload-progress").text(percent+"%")
                        if(percent>=100)$("#upload-progress").text("Processing ...");
                    }, false);
				}
				return xhrobj;
			},
			url: "/cgi-bin/firmware_cgi",
			type: "POST",
			contentType:false,
			processData: false,
			cache: false,
			data: fd,
			success: function(data){
				$("#upload-progress").text(files[0].name +" <%successfully uploaded%>");
				verify_firmware('upload');
			}
		});
	}
	$("#filedrop").click(function(){
		$("#firmware-upload-file").click();

	});
	$("#firmware-upload-file").change(function(e){
		if(this.files.length>0)
			handleFileUpload(this.files,null);
	});
	function online_upgrade(){
		$("#div-download-check").nextAll().remove();
		$.ajax({
			type: "GET",
			url: "/cgi-bin/firmware_cgi?action=download",
			dataType: 'json',
			success: function(result){
				if(result.success){
					$("#div-download").show();
					check_download_status();
				}else{
					$("#div-download-check").after("<div class='msg2'><%Cannot download%></div>");
				}
			},
			error: function(e,result){
				$("#div-download-check").after("<div class='msg2'><%Unkown error%></div>");
			}
		});
	}
	function check_download_status(){
		$.ajax({
			type: "GET",
			url: "/cgi-bin/firmware_cgi?action=downloadstatus",
			dataType: 'json',
			success: function(result){
				if(result.downloading){
					//downloading
					$("#div-download").show();
					var progress=Math.round(result.percent*100);
					if(progress>100) progress=100;
					$("#div-download span").css("width",progress+"%");
					$("#div-download span").text(progress + "%");
					var t=setTimeout(check_download_status(),2000);
				}
				else if(result.completed){
					$("#div-download span").css("width","100%");
					$("#div-download span").text("<%Firmware downloaded%>");
					verify_firmware('download');
				}
				else{
					//nothing happen
				}
			}
		});
	}

	function verify_firmware(e){
		var table;
		if(e=='upload') {
			table=$("#table-upload-check")[0];
		}else {
			table=$("#table-download-check")[0];
		}
		$(table).html("<tr><td><img src='/images/loading.gif'><%Checking%>...</td></tr>");
	    $.ajax({
			type : 'GET',
			dataType : 'json',
			url : "/cgi-bin/firmware_cgi?action=checkfirmware",
			success : function(result){
				$(table).html("");
				if(! result.file_exist){
					$(table).html("<tr><td><%Cannot upload file, not enought memory%>!</td></tr>");
					return;
				}
				if(! result.size_ok){
					$(table).html("<tr><td><%Firmware too big%>!</td></tr>");
					return;
				}
				$(table).append("<tr><td><%Version%></td><td>"+result.version+"</td></tr>");
				$(table).append("<tr><td>MD5</td><td>"+result.md5+"</td></tr>");
				if(! result.supported){
					$(table).append("<tr><td><%Verification result%></td><td><font color=red><%Error: Firmware is not for this hardware.%></font></td></tr>");
				}else{
					$(table).append("<tr><td><%Verification result%></td><td> <%Pass%></td></tr>");
					$(table).append("<tr><td><label for='firmware-keep'><%Keep settings%></label></td><td><form id='form-verify' method='post'><input type='hidden' name='action' value='flash'> <input id='firmware-keep' name='keep' type='checkbox' checked></form></td></tr>");

					$(table).append("<tr><td></td><td><input id='submit_flash' name='submit' type='button' value='<%Upgrade%>' onclick='upgrade();'></td></tr>");
					check_all_nodes();
					$("#div-nodes-status").show();
				}
			}
	    });
	}
	function check_all_nodes(){
		$.get("/cgi-bin/firmware_cgi?action=checkfirmware_all",function(data){
			$("#table-nodes-status").find("tr:gt(0)").remove();
			var nodes=data.nodes;
			var checking=0;
			for(i=0;i<nodes.length;i++){
				var node=nodes[i];
				if(node.status != "verified" || node.status == "failed"){
					checking=1;
				}
				var html="<tr><td><input type='checkbox' "+(node.status=='verified'?'checked':'') +" name='nodes' value='"+node.mac+"'/></td><td>"+node.hostname+"</td><td>"+node.mac+"</td><td>"+node.ip+"</td><td>"+(node.status?node.status:"waiting...")+"</td></tr>";
				$("#table-nodes-status tbody").append(html);
			}
			if(checking==1){
				setTimeout(function(){check_all_nodes();},3000);
			}
		});
	}
	function show_factory(){
		$("#div-online").hide();
		$("#div-upload").hide();
		$("#div-history").hide();
		$("#div-factory").show();
	}
	function revert_factory(){
		$.ajax({
			type: "GET",
			url: "/cgi-bin/router_cgi?action=factorydefault",
			dataType: 'json',
			timeout: 60000,
			success: function(result){
				if(result.success){
					show_reboot_progress("<%Reverted to factory default setting. Rebooting%> ...");
				}else{
					$("#div_factory_msg").html(result.error);
				}
			},
			error: function(){
				window.location.reload();
			}
	    });
	}
	function upgrade(){
		$.ajax({
			type: "POST",
			url: "/cgi-bin/firmware_cgi",
			data: $("#form-verify").serialize(),
			dataType: 'json',
			success: function(result){
				if(result.success){
					TotalTime=180000; //3 minutes
					show_reboot_progress("<%Upgrading your system. Don't turn off your router or reflash this window%>");
				}else{

				}
			}
	    });
		return false;
	}
$(".list-entry li a").click(function (){
	$(".list-entry li a").css("color","#41E7ED");
	$(this).css("color","white");
});
</script>

