
<!doctype html>
<html lang="en">
<head>
	<title>Pyramid WiFi</title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />

	<!--     Fonts and icons     -->
	<link rel="stylesheet" type="text/css" href="/css/Material+Icons.css" />
	<link rel="stylesheet" href="/css/font-awesome.min.css" />

	<!-- CSS Files -->
    <link href="/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/css/material-kit.css?v=1.1.0" rel="stylesheet"/>
    
    <!-- Chrome, Firefox OS and Opera -->
<meta name="theme-color" content="#46008C">
<meta content="no-cache"> 
<link rel="shortcut icon" type="image/png" href="/images/favicon.png"/>

    <!-- app icons -->
    <link rel="apple-touch-icon" href="/images/apple-touch-icon57.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/images/apple-touch-icon72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/images/apple-touch-icon114.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/images/apple-touch-icon144.png">
    <script type="text/javascript" src="/js/jquery-1.11.0.min.js" ></script>
	<script type="text/javascript" src="/js/gl.js?ver=20161114" ></script>
    

</head>

    <body>


<div class="container">
    <div class="tinted-image">
 
			<div class="row">
				<div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3">
					<div class="card card-signup">
                        
                        
					
							<div class="header header-primary text-center">
                                <h4 class="card-title">Log in</h4></div>
	    								
	    						
	    							<div class="card-content">
	    								   <form id="form">
	    								<input id="action" type="hidden" name="action" value="login">
	    								<div class="input-group">
									<span class="input-group-addon">
										<i class="material-icons">lock_outline</i>
									</span>
                                            <div class="div-setting" id="div_password">
                                                
                                                <input spellcheck="false" id="password" placeholder="Enter password" name="password" type="password" class="form-control" required autocomplete="off" autofocus>
                                            
                                            </div></div>
                                      
                                        
                                        
                                        
                                        
							
                                               <label></label><div class="text-center"><input type="submit" id="submit_button" class="btn btn-primary btn-simple btn-wd btn-lg" value="Log In"><div class="tim-typo"></div>
                                        
                                        <div class="row text-danger"> <div align="center" id="div-msg"> </div> </div>
                        
                                              </form>
                                                
    </div>  
                    </div>
                </div> <div class="text-center"><h6 font color="white" class="btn btn-white btn-simple" data-trigger="click" data-toggle="popover" data-placement="top" title="Forgot Password?" data-content="Press and hold the 'Reset' button for 10 seconds, then release your finger. 
You will see LEDs flash in a pattern. Wait for Pyramid to reboot and then start over."> Forgot password? </h6> </div>
                    
              
                

				
			
<script>
	$.ajaxSetup({
		cache: false,
		headers: {'X-CSRF-TOKEN':'<%HTTP-X-CSRF-TOKEN%>'},
	});
	var code_needed=false;

	$("#password").change(function(){
		var password=$("#password").val();
		if(isIE){
			if(password.length==0) $("#password").next().text("Please input password");
		}else{
			if(password.length==0){
				$("#password")[0].setCustomValidity("Please input password");
			}else if(password.indexOf('"')>-1)
				$("#password")[0].setCustomValidity('Password cannot contains "');
			else
				$("#password")[0].setCustomValidity("");
		}
	});

	$.ajax({
      type : 'GET',
      dataType : 'json',
      url : "/cgi-bin/login_cgi?action=checklogin",
      async: false,
      success : function(result){
		loaded=true;
		if(result.via_wifi) via_wifi=true;
		if (result.logged) {
		  //window.location="/index.html?index";
		}else{
			if(! result.language_set) {
			//	window.location="/welcome.html";
			}else{
				$("#div_info_login").show();
			}
			if(! result.code_entered){
				$("#div_code").show();
				code_needed=true;
				$("#code").prop("required",true);
			}else{
				$("#div_code").hide();
				code_needed=false;
			}
		}
	}
    });

	$("#form").submit(function(){
		if(typeof(window.localStorage) != 'undefined')localStorage.clear();
	    $("#div-msg").attr('class','warningmsg');
	    $.ajax({
		type: "POST",
			url: "/cgi-bin/login_cgi",
			data: $("#form").serialize(),
			dataType: 'json',
			success: function(result){
				if(result.success){
					$("#div_msg").html("");
					window.location="/html/index";
				}else{
					$("#div-msg").attr('class','errormsg');
					$("#div-msg").html("Oops! That's not the right password.");
					location.reload();
				}
			},
			error: function(){
				$("#div-msg").attr('class','errormsg');
				$("#div-msg").html("Please try again and makes sure you are connected to Pyramid.");
			}
	    });
	    return false;
	});

</script>

 

<style>
    
    body {
background-image: url("/images/bgx.jpeg");
           background-color: rebeccapurple;
          background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-position: center;
  background-size: cover;
      margin:0;
  min-height:100vh;
  display:flex;
  align-items:center;
  justify-content:center;
flex-direction: column;
       opacity: 0.85; filter: alpha(opacity=85); 
      z-index: 0;

}
        
       
    </style>
	<!--   Core JS Files   -->
	<script src="/js/bootstrap.min.js" type="text/javascript"></script>
	<script src="/js/material.min.js"></script>
    <script src="/js/material-kit.js?v=1.1.0" type="text/javascript"></script>

 </body></html>