<div id='paper'>

</div>

<script>
show_topo();

var graph, paper;
var cells=[];
var links=[];
mesh_node=joint.shapes.basic.Circle.extend({
	markup: '<g class="rotatable"><g class="scalable"><circle/></g><text class="text1"/><text class="text2"/></g>',
	defaults: joint.util.deepSupplement({
		type: 'mesh_node',
		size: { width: 60, height: 60 },
        attrs: {
			'circle': {
				fill: '#91d88a',
				stroke: '#aad88a',
				'stroke-width': 2
			}
		}
	},joint.shapes.basic.Circle.prototype.defaults)
});

function state(x, y, label, label1) {
	var cx=420, cy=220;
	var ref_x=10, ref_y=20;
	if(label1==null) label1="";
	var cell = new mesh_node({
		position: { x: x, y: y },
		attrs: {
			'.text1' : { text: label, 'fill': '#000000', 'font-weight': 'bold'},
			'.text2': { text: label1, 'font-size': 12, 'font-weight':'bold', 'fill':'#192fd2', 'ref-x': ref_x, 'ref-y': ref_y, 'ref': '.text1' },
			}
	});
	graph.addCell(cell);
	return cell;
}
function link(source, target, label, vertices) {

	var cell = new joint.shapes.fsa.Arrow({
		source: { id: source.id },
		target: { id: target.id },
		labels: [{ position: 0.5, attrs: { text: { text: label || '', 'font-weight': 'bold' } } }],
		vertices: vertices || []
	});
	graph.addCell(cell);
	return cell;
}
function renderTopo(data){
	if(!graph) graph=new joint.dia.Graph();
	if(!paper) paper=new joint.dia.Paper({
		el: $('#paper'),
		width: 840,
		height: 500,
		gridSize: 1,
		model: graph
	});

	//get real data
	var nodes=data.nodes;
	var links=data.links;
	var n=nodes.length;
	var center_x=420, center_y=220, radius=230, angle=Math.PI*3/4;
	for(i=0;i<n;i++){
		var x=Math.round(center_x+radius*Math.cos(angle+2*Math.PI/n *i));
		var y=Math.round(center_y-radius*Math.sin(angle+2*Math.PI/n *i));

		var cell= $.grep(cells, function(e){ return e.mac == nodes[i].mac; })[0];
		if(!cell) {
			cell= state(x,y,nodes[i].hostname, nodes[i].ip);
			cells.push({node : cell, mac:nodes[i].mac, name:nodes[i].hostname, x:x, y:y});
			if(nodes[i].wan_ip && nodes[i].wan_ip !="noip") cell.attr({circle:{stroke:'#ff0000'}});
		}else{
			//cell.node.position(x,y);
			var p=cell.node.get('position');
			cell.x=p.x;
			cell.y=p.y;
			graph.removeLinks(cell.node);
			if(nodes[i].wan_ip && nodes[i].wan_ip !="noip") cell.node.attr({circle:{stroke:'#ff0000'}});
		}
	}

	n=data.links.length;
	var min_value=Number(links[0].value);
	var max_value=Number(links[0].value);
	for(i=0;i<n;i++){
		if( Number(links[i].value)>max_value) max_value=Number(links[i].value);
		if( Number(links[i].value)<min_value) min_value=Number(links[i].value);
	}
	for(i=0;i<n;i++){
		var s= $.grep(cells, function(e){ return e.mac == links[i].source; })[0];
		var t= $.grep(cells, function(e){ return e.mac == links[i].target; })[0];
		if(s==null || t==null) continue;
		var x1=s.x;
		var x2=t.x;
		var y1=s.y;
		var y2=t.y;
		var x=(x1+x2)/2+( (y1==y2?0:(y1>y2?1:-1)) *20 );
		var y=(y1+y2)/2+( (x1==x2?0:(x1>x2?-1:1)) *20 );
		var l=link(s.node, t.node, links[i].value, [{x:x,y:y}]);
		var width=3.5-3*(links[i].value-min_value)/(max_value-min_value);//max 3.5, min 0.5
		l.attr({'.connection':{'stroke-width': width} });
		links.push(l);
	}
}

function update_topo(){
	$.get("/cgi-bin/mesh_cgi?action=get_nodes_links",function(data){
		if(!data.nodes && !data.success) location="/login.html";
		renderTopo(data);
		setTimeout(function(){update_topo();},5000);
	});
}

function show_topo(){
	$("#show-topo").css("color","white");
	$("#div-mesh-main").html("<div id='paper'></div>");
	update_topo();
}

</script>

