<div class="mainbar">
	<label><%Access Control%></label>
	<div  class="toolbar">
	</div>
</div>
<form id="form-access" autocomplete="off">
	<input type="hidden" name="action" value="updateportnpass">
	<input type="text" style="display:none">
	<input type="password" style="display:none">
	<div class="subcontent">
		<div><label><%Access Password%></label></div>
		<table>
			<tbody>
				<tr><td><%UI Password%> </td><td>
					<input type="password" id="ddns-password" name="ddns-password" placeholder="<%Leave Blank to keep unchanged%>" autocomplete="off">
					<label></label>
				</td></tr>
			</tbody>
		</table>
	</div>
	<div class="subcontent">
		<div><label><%WAN Access%></label>
		</div>
		<table>
			<tbody>
				<tr><td><label for="ddns-access"><%Enable WAN Access%></label></td><td><input id="ddns-access" name="ddns-access" type="checkbox" checked></td></tr>
				<tr><td><%WAN Access Port%></td><td><input id="ddns-port" name="ddns-port" type="text" value="83"></td></tr>
				<tr><td><%S/N needed for internet accessing%></td><td>
						<input type="checkbox" class="css-checkbox" name="code-needed" id="code-needed">
						<label for="code-needed" class="css-label lite-green-check"><%Suggested to tick to ensure security%>!</label>
				</td></tr>
				<tr><td></td><td><input type="submit" id="submit-ddns" value="<%Apply%>"></td></tr>
				<tr><td></td><td><label id="div_ddns_msg"></label></td></tr>
			</tbody>
		</table>
	</div>

</form>
<div class="subcontent" id="div-upnp-status" style="display:none">
	<div><label><%Upnp Status%></label></div>
	<div>
		<div></div>
		<table id="table-upnp-status">
			<tbody>

			</tbody>
		</table>
	</div>
</div>
<script>
$.ajax({
	type : 'GET',
	dataType : 'json',
	url : "/cgi-bin/router_cgi",
	success : function(result){
		if(typeof result.success != 'undefined')
			window.location="/login.html";
		$("#ddns-port").val(result.ddns.service_port);
		$("#ddns-access").prop("checked",result.ddns.enabled);
		$("#code-needed").prop("checked",result.ddns.code_needed);
		if(result.ddns.enabled){
			$("#div-upnp-status").show();
			checkstatus();
		}else{
			$("#div-upnp-status").hide();
		}
	}
});
function checkstatus(){
	$("#table-upnp-status").html("<tr><td><img src='/images/loading.gif'</td></tr>");
	$.ajax({
		type : 'GET',
		dataType : 'json',
		url : "/cgi-bin/router_cgi?action=checkupnp",
		success : function(result){
			if(!result.ddns_enabled){
				$("#table-upnp-status").append("<%Please enable WAN acess to check upnp%>");
			}
			$("#table-upnp-status").empty();
			if(result.internet_exposure){
				$("#table-upnp-status").append("<%Directly connected to the Internet%><img src='/images/correct.png'>");
				return;
			}
			$("#table-upnp-status").append("<tr><td><%Upnp service of parent router%></td><td>"+(result.upnp_open?"<%Open%><img src='/images/correct.png'>":"<%Not open%><img src='/images/wrong.png'>")+"</td></tr>");
			if(result.upnp_open){
				$("#table-upnp-status").append("<tr><td><%Access Port%></td><td>"+(result.service_port_open?"<%Redirected%> <img src='/images/correct.png'>":(result.service_port_redirect?("<%Wrongly directly to%>: "+result.service_port_redirect):"<%Not redirected%><img src='/images/wrong.png'>"))+"</td></tr>");
			}
		},
		error: function(requestObject, error, errorThrown){
			$("#table-upnp-status").append("<%Failed to detect%>");
		}
	});
}
$("#submit-ddns").click(function(){
	var old_host=location.host;
	var old_host1= old_host.split(":");
	var old_port=old_host1[1];
	var old_host=old_host1[0];
	$("#div_ddns_msg").html("<%Updating%>...");
	$.ajax({
		type: "POST",
		url: "/cgi-bin/router_cgi",
		data: $("#form-access").serialize(),
		dataType: 'json',
		timeout: 10000,
		success: function(result){
		    if(result.success){
				//$("#table-upnp-status").html("<tr><td><img src='/images/loading.gif'></td></tr>");
				$("#div_ddns_msg").html("<%Update successfully%>");
				if(typeof old_port != "undefined") {
				    var myTimer=setTimeout(function(){
					window.location="http://"+old_host+":" + $("#ddns-port").val();
					},
					2000
				    );
				}
				else{
				    var myTimer=setTimeout(function(){
						checkstatus();
					},
					2000
				    );
				}

		    }else{
				$("#div_ddns_msg").html(result.error);
		    }
		},
		error: function(requestObject, error, errorThrown){
			$("#div_ddns_msg").html(result.error);
			if(typeof old_port != "undefined") {
			    window.location="http://"+old_host+":" + $("#ddns-port").val();
			}else{
			    window.location.reload();
			}
		}
	});
	return false;
});

</script>

