<script src="/js/jquery.dd.min.js" type="text/javascript"></script>
<link rel="stylesheet" type="text/css" href="/css/dd.css?ver=1.0" />
<div class="pop_title"><%Connect Repeater%></div>
<div class="pop_main">
	<div class="tab_content" style="display:block; color:#207087; margin-top:20px">

  <form id="form-wan-repeater">
	<input type="hidden" name="wan-proto" value="wifi">
	<input type="hidden" name="action" value="updatewan">
	<input type="hidden" id="wan-encryption" name="wan-encryption" value="">
	<input type="hidden" id="wan-channel" name="wan-channel" value="">
	<input type="hidden" id="wan-mac" name="wan-mac" value="">
	<div>
		<label>SSID</label>
		<select class="select1 long" id="wan-ssid" name="wan-ssid" >
		</select>
		<span id="wan-ssid-msg" class="warningmsg"></span>
	</div>
	<div>
		<label><%Password%></label>
		<input id="wan-key" type="text" placeholder="Leave Blank to keep unchanged" name="wan-key">
	</div>
	<div>
		<label><%Mode%></label>
		<select class="select1" id="wan-wds" name="wan-wds" >
			<option value="wisp">WISP</option>
			<option value="wds">WDS</option>
		</select>
		<span id="wds-msg" class="warningmsg"></span>
	</div>
	<div id="wds-lan-ip" style="display:none">
		<label><%LAN IP%></label>
		<input type="text" class="input" placeholder="" id="wds-lan-ipaddr" name="lan-ipaddr" pattern="((^|\.)((25[0-5])|(2[0-4]\d)|(1\d\d)|([1-9]?\d))){4}$">
		<span title="<%Invalid IP Address%>"></span>
	</div>
	<div>
		<label for="auto-connect"><%Auto connect%></label>
		<input class="input" id="auto-connect" type="checkbox" name="auto-connect" checked><span for="auto-connect">Auto reconnect when available</span>
	</div>
	</form>
</div>
</div>
<div class="div_submit">
    <input type="submit" id="submit_wan" class="button_submit" value="<%Submit%>">
    <div id="wan-message" class="errormsg"></div>
</div>

<script>
	scanwifi();

    $("#wan-wds").change( function(){
        var repeater_mode=this.value;
        if(repeater_mode == "wisp"){
            $("#wds-lan-ip").hide();
        }else if(repeater_mode=="wds"){
            $("#wds-lan-ip").show();
        }else{
        }
    });

    //submit information
    $("#submit_wan").click(function(){
        console.log("check validity");
        $("#wan-message").text("");
        var data;
		data=$("#form-wan-repeater").serialize();
		console.log("data="+data);
		if(!$("#form-wan-repeater")[0].checkValidity())return;

        $.ajax({
            type: "POST",
            url: "/cgi-bin/router_cgi",
            data: data,
            dataType: 'json',
            success: function(result){
                console.log("update success");
                if(result.success){
                    close_modal();
                }else{
                    $("#wan-message").text(result.error);
                }
            },
            error: function(xhr, textStatus, errorThron){
                $("#wan-message").text(textStatus);
                console.log("update error");
            }
        });
    });

    //choose scanned stations
    $("#wan-ssid").change(function(){
        var index=$("#wan-ssid")[0].selectedIndex;
		var encryption=stations[index].Encryption;
        $("#wan-encryption").val( encryption );
        $("#wan-channel").val(stations[index].Channel);
        $("#wan-mac").val(stations[index].MAC);
        if(encryption.indexOf("psk")!=-1){
			$("#wan-key").prop('required',true);
			$("#wan-key").attr('pattern',".{8,}");
		}if(encryption.indexOf("wep")!=-1){
			$("#wan-key").prop('required',true);
			$("#wan-key").attr('pattern',".{5}|.{13}");
		}if(encryption.indexOf("none")!=-1){
			$("#wan-key").prop('required',false);
			$("#wan-key").attr('pattern',"");
		}
    });

</script>
