<div id="app-cloud" class="app-container">
	<div class="app-title">
		<%Content of USB disks can be shared to Lan or Wan%>
	</div>
	<div class="toolbar">
		<div class="control_pannel">
			<span style="width:70%;">
				<form id="form_samba">
					<input type="hidden" name="action" value="set">
					<input type="hidden" name="software" value="samba">
						<div id="cbi-samba-lan" class="div-config">
							<label for="share_on_wan"><%Share on Lan%></label>
							<div>
								<input  type="checkbox" id="share_on_lan" name="share_on_lan" disabled checked>
								<label style="margin-left:10px"></label>
							</div>
						</div>
						<div id="cbi-samba-wan"  class="div-config">
							<label for="share_on_wan"><%Share on wan%></label>
							<div >
								<input  type="checkbox" id="share_on_wan" name="share_on_wan">
								<label style="margin-left:10px;"></label>
							</div>
						</div>
						<div  id="cbi-samba-writable"  class="div-config">
							<label  for="samba_writable"><%Writable%></label>
							<div >
								<input  type="checkbox" id="samba_writable" name="samba_writable" >
							</div>
							<label style="margin-left:10px;"  for="samba_writable"><%Suggest to use NTFS or EXT4 filesystem%></label>
						</div>
						<div id="cbi-samba-warning" class="div-config" style="display:none">
							<label for="samba_warning"><%Terms%></label>
							<div>
								<div class="div-agreement"><%Writing to USB device and plug/unplug frequently may cause damage. We are not responsible for any damage and data lose of your USB device.%><br>
								<%Tips%> 1: <%Backup your data%><br>
								<%Tips%> 2: <%Suggest to use NTFS or EXT4 filesystem%>
								</div>
								<input  type="checkbox" id="samba_agree" name="samba_agree"> <label for="samba_agree" style="color:red"><%Agree%></label>
							</div>
						</div>
						<input id="submit_samba"  class="submit-app" type="button" value="<%Apply%>" class="button">
				</form>
			</span>
		</div>
	</div>
</div>
<script>
get_samba_status();

function get_samba_status(){
	$.ajax({
		type : 'GET',
		dataType: 'json',
		url: "/cgi-bin/software_cgi?action=get&software=samba",
		success: function(result){
			if(result.success){
				$("#share_on_wan").prop('checked',result.share_on_wan);
				$("#samba_writable").prop('checked',result.samba_writable);
				$("#samba_agree").prop('checked',result.samba_writable);
			}
			else{
				window.location="/login.html";
			}
		}
	});
}
$("#submit_samba").click(function(){
	if($("#samba_writable").prop('checked')){
		//must agree to terms
		if(!$("#samba_agree").prop('checked')){
			alert("<%You must agree to the terms%>");
			return;
		}
	}
	$("#software_msg").text("Updating...");
	$.ajax({
		type : 'POST',
		dataType: 'json',
		url: "/cgi-bin/software_cgi",
		data: $("#form_samba").serialize(),
		success: function(result){
			$("#software_msg").text("Samba updated");
			window.location.reload();

		}
	});
});
$('#samba_writable').change (function () {
	if (this.checked){
		$("#cbi-samba-warning").show();
	}else{
		$("#cbi-samba-warning").hide();
	}
});
</script>
