<style>
#table-ssids{
	width:100%;

}
#table-ssids td{
	min-width:20px;
	color:#207087;
}
#table-ssids tr:first-child{
	font-weight:bold;
}
#table-ssids tr:nth-child(odd){
	background-color: lightgray;
}
</style>
<div class="pop_title"><%Saved Stations%><span id="ssid-loading"></span></div>
    <div class="pop_main" style="height:90%; overflow-y:scroll">
		<table id="table-ssids">
			<tbody id="tbody-ssids">
				<tr><td>#</td><td>SSID</td><td>Key</td><td>WDS</td><td>Auto-Connect</td><td>Actions</td></tr>
			</tbody>
		</table>
    </div>

</div>
<script>
var connected_sta;
var all_networks;
display_ssids();
function display_ssids(){
	$("#tbody-ssids").find("tr:gt(0)").remove();
	$.getJSON("/cgi-bin/router_cgi?action=getssids", function(result){
		all_networks=result;
		var i=0;
		for(sta in result){
			i++;
			var network=result[sta];
			var html="<tr id='tr-"+sta+"'><td>"+ i
					+"</td><td><img src='/images/0.png'>"+ network.ssid
					+"</td><td>"+ "<label>********</label>"
					+"</td><td>"+ (network.wds?"Yes":"")
					+"</td><td>"+ "<input type='checkbox' "+ (network.disabled?"":"checked" )+" onclick='toggle_ssid(this,\""+sta+"\")'>"
					+"</td><td>"+ "<input type='button' value='connect' onclick='connect2_ssid(this,\""+sta+"\")'><input type='button' value='delete' onclick='delete_ssid(this,\""+sta+"\")'>"
					+"</td></tr>";
			$("#tbody-ssids").append(html);
			if(network.ssid==repeater_ssid) {
				connected_sta=sta;
				$("#tr-"+sta).css("font-weight","bold");
			}
		}
		scanssids();
	});
}
/*scan wifi and fill the select box*/
function scanssids(){
	$("#ssid-loading").html("<img src='/images/loading.gif' width='18px' height='18px'>");
	$.get("/cgi-bin/router_cgi?action=scanwifi", function(result){
			$("#ssid-loading").html("");
			//$("#tbody-ssids").append("<tr style='height:40px'><td colspan=6><%The following networks are available, but not in your list%>.</td></tr>");
			stations=sortByKey(result.stations,"Quality");
			for(var i=0;i<stations.length;i++){
				var img;
				var has_password=true;
				if(stations[i].Encryption =="none") has_password=false;
				if(stations[i].Quality==100) img=(has_password?"/images/100e.png":"/images/100.png");
				else if(stations[i].Quality>=50) img=(has_password?"/images/75e.png":"/images/75.png");
				else if(stations[i].Quality>=25) img=(has_password?"/images/50e.png":"/images/50.png");
				else img=(has_password?"/images/25e.png":"/images/25.png");

				var found=0;
				for(sta in all_networks){
					if(all_networks[sta].ssid==stations[i].SSID){
						found =1;
						$("#tr-"+sta+" td:nth-child(2) img:first-child").attr("src",img);
						break;
					}
				}
				if(found==0){
					continue;
					var html="<tr><td>"
						+"</td><td colspan=4><img src='"+img+"'>"+ stations[i].SSID
						+"</td><td>"+ "<input type='button' value='add' onclick=\"connect_new_ssid(this,\'"+stations[i].SSID+"\')\">"
						+"</td></tr>";
					$("#tbody-ssids").append(html);
				}
			}
	});
}

function toggle_ssid(item,sta){
	$(item).nextAll().remove();
	var label="<span id='msg-toggle' class='msg2'>updating</span>";
	$(item).after(label);
	var checked=item.checked;
	$.getJSON("/cgi-bin/router_cgi?action=toggle_ssid&enable="+checked+"&sta="+sta, function(result){
		if(result.success){
			$(item).next().text("done");
			$(item).next().addClass('hidden');
		}
	});
}
var repeater_loading=false;
var repeater_index;
var connecting_tr;
var connection_input;
var repeater_only;

function connect_new_ssid(item,ssid){
	repeater_ssid=ssid;
	repeater_only=true;
	$("#model_content").load("/html/repeater_connect");
}
function connect2_ssid(item,sta){
	$(item).prop('disabled', true);
	$.getJSON("/cgi-bin/router_cgi?action=connect2_ssid&sta="+sta, function(result){
		if(result.success){
			repeater_loading=true;
			connection_input=item;
			connecting_tr=$(item).parent().parent();
			repeater_index=$(connecting_tr).children().first().text();
			$(connecting_tr).children().first().html("<img src='/images/connecting.gif'>");
		}
	});
}
function sta_connected(){
	$(connecting_tr).children().first().html(repeater_index);
	$("#tbody-ssids tr").css("font-weight","");
	$(connecting_tr).css("font-weight","bold");
	$(connecting_tr).find("input[type=button]").prop('disabled', false);
}

function delete_ssid(item,sta){
	$.getJSON("/cgi-bin/router_cgi?action=delete_ssid&sta="+sta, function(result){
		if(result.success){
			$(item).parent().parent().remove();
		}
	});
}
function update_ssid_connect_status(status){
	$("#tbody-ssids tr").css("font-weight","");
	for(sta in all_networks){
		var network=all_networks[sta];
		if(network.ssid==repeater_ssid) {
			connected_sta=sta;
			$("#tr-"+sta).css("font-weight","bold");
		}
	}
	if(status==true && repeater_loading==true){
		$(connecting_tr).children().first().text(repeater_index);
		$(connection_input).prop('disabled', false);
		repeater_loading=false;
	}
}

</script>
