


<!doctype html>
<html lang="en">
<head>
	<title>Pyramid WiFi</title>
    <meta charset='utf-8'>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

	<!--     Fonts and icons     -->
	<link rel="stylesheet" type="text/css" href="/css/Material+Icons.css" />
	<link rel="stylesheet" href="/css/font-awesome.min.css" />

	<!-- CSS Files -->
    <link href="/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/css/material-kit.css?v=1.1.0" rel="stylesheet"/>
    
    <!-- Chrome, Firefox OS and Opera -->
<meta name="theme-color" content="#46008C">
<meta content="no-cache"> 
<link rel="shortcut icon" type="image/png" href="/images/favicon.png"/>

    <!-- app icons -->
    <link rel="apple-touch-icon" href="/images/apple-touch-icon57.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/images/apple-touch-icon72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/images/apple-touch-icon114.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/images/apple-touch-icon144.png">
    <script type="text/javascript" src="/js/jquery-3.2.1.min.js" ></script>
	<script type="text/javascript" src="/js/gl.js?ver=20161114" ></script>
   
    

</head>
    
<header>
    
    <div id="goback">  <a href="/"><i class="text-primary material-icons md-48">keyboard_backspace</i></a></div> </header><style>.material-icons.md-48 { font-size: 48px; }</style>
    <body>
        
        	
        
        

        
        
<div class="container">
    <div class="tinted-image">
 
        <div class="row">
        
        
        
                
			
					
                        
    
        
        <div id="card2" class="vertical-center">

							
									<h2 class="category text-primary">Saved Networks</h2>
									<style>
#table-ssids{
	width:100%;

}
#table-ssids td{
	min-width:20px;
	color:#207087;
}
#table-ssids tr:first-child{
	font-weight:bold;
}
#table-ssids tr:nth-child(odd){
	background-color: #DBDEFF;
}
    body {
        background-color: white;
    }
</style>
    
    
  
        
        
        

    <div class="pop_main">
		<table id="table-ssids" class="table"> <thead>
			<tbody id="tbody-ssids">
				<tr><td>#</td><td>SSID</td><td>Password</td><td></td><td></td><td>Options</td></tr>
            </tbody> </thead>
		</table>
    </div>
          
            
             <div class="text-center" id="doingit"><h6 font color="white" onclick='disconnect_repeater();' class="btn btn-primary btn-round" data-trigger="hover" data-toggle="popover" data-placement="bottom"  data-content="We recommend deleting your current network from saved networks when disconnecting to prevent automatic reconnection."> Disconnect </h6> </div>
            
            <div id="showstatus" style="display:none" align="center"> 
<h5 class="text-primary"> You're disconnected (it may take a few seconds to fully disconnect) </h5>
</div>
								</div>
							</div>

        </div>
    
        <script>
                  $('#doingit').click(function() {
    $("#showstatus").show();
  
});  
            
        </script>
   
                    
        
        
        
    
        
   <style>
    
    body {

background-color: white;
min-height:100vh;
background-blend-mode: multiply;
background-repeat: no-repeat;
background-position: center;
background-size: cover;
opacity: 100; filter: alpha(opacity=20); 
        


}

    .vertical-center {
margin-top:-100px;
        margin-bottom:-100px;
min-height:100vh;
display:flex;
align-items:center;
justify-content:center;
flex-direction: column;
z-index: 0;
}
             

</style>
        
            <script>
	$.ajaxSetup({
		cache: false,
		headers: {'X-CSRF-TOKEN':'<%HTTP-X-CSRF-TOKEN%>'},
	});
	var code_needed=false;

    
dic["11ng"]="150M";
dic["11ng2"]="300M";

var mobile=false;

/*Bind event*/
$("#img-internet").click(function(){
	popWanSetting();
});
$("#img-wifi-0").click(function(){
	popWifiSetting();
});
$("#div-internet").click(function(){
	$("#div_main").load("/html/wan_status");
	if(window.history.pushState) window.history.pushState({},null,"index?index&wan_status");
});
$("#div-wifi-0").click(function(){
	$("#div_main").load("/html/wifi_status");
	if(window.history.pushState) window.history.pushState({},null,"index?index&wifi_status");
});
$("#div-port").click(function(){
	$("#div_main").load("/html/port_status");
	if(window.history.pushState) window.history.pushState({},null,"index?index&port_status");
});
$("#div-firmware").click(function(){
	$("#div_main").load("/html/firmware_status");
	if(window.history.pushState) window.history.pushState({},null,"index?index&firmware_status");
});
$("#div-clients").click(function(){
	$("#div_main").load("/html/clients");
	if(window.history.pushState) window.history.pushState({},null,"index?index&clients");
});

$(".div_setting").click(function(){
	$(".indicator").hide();
	$(".indicator1").hide();
	$(this).find(".indicator").show();
	$(".div_setting").removeClass("highlight");
	$(".div_app").removeClass("highlight");
	$(this).addClass("highlight");
});
$(".div_app").click(function(){
	var url=$(this).attr("data-url");
	window.location="/html/index?"+url;
});
function setup_access(){
	$('#div-port').trigger('click');
}
function check_firmware(){
	$("#div-firmware").trigger('click');
}
function change_lanip(){
	$("#div-wifi-0").trigger('click');
	setTimeout(function(){display_lanip()},200);
}
$("[id^='wifi_status']").click(function(e){
	e.stopPropagation();
});

function highlight_app(url){
	var div_app=$(".div_app[data-url='"+url+"']");
	$(div_app).find(".indicator1").show();
	if(url != "index") 	$(".div_app").addClass("dim");
	$(div_app).removeClass("dim");
	$(div_app).addClass("highlight");
}

var checker;
var checker_upnp;
var query=document.URL.split('?')[1];
var page;
if(query && (page=query.match(/[a-z0-9_]*.html/))){
	$("#div_area").load("/html/"+page);
	highlight_app(page);
}else{
	highlight_app("index");
	/*Run once after load*/
	getNetworkStatus();
	getDeviceStatus();
	checkUpnp();
	getClients();
	getFirmwareStatus();
	checkAvailability();

	startChecker();
	checker_upnp=setInterval(function(){
		checkUpnp();
		checkAvailability();
	},60000);
	/*go to subpage*/
	var subpage=document.URL.split('&')[1];
	if(subpage){
		$("#div_main").load("/html/"+subpage);
	}else{
		$("#div_main").load("/html/default")
	}
}

function startChecker(){
	checker=setInterval(function(){
		getNetworkStatus();
		getDeviceStatus();
		getClients();
	},5000);
}
function stopChecker(){
	window.clearInterval(checker);
}

/*Close the popup*/
$("#modal-close").click(function(){
	close_modal();
});
function go_advanced(){
	if(confirm("Advanced settings page needs separate login. \n\nIt is for hobbyist and no support will be provided. \n\nUsing improper settings will brick your router.")==true) return true;
	else return false;
}

    
    
	$("#password").change(function(){
		var password=$("#password").val();
		if(isIE){
			if(password.length==0) $("#password").next().text("Please input password");
		}else{
			if(password.length==0){
				$("#password")[0].setCustomValidity("Please input password");
			}else if(password.indexOf('"')>-1)
				$("#password")[0].setCustomValidity('Password cannot contains "');
			else
				$("#password")[0].setCustomValidity("");
		}
	});

	$.ajax({
      type : 'GET',
      dataType : 'json',
      url : "/cgi-bin/login_cgi?action=checklogin",
      async: false,
      success : function(result){
		loaded=true;
		if(result.via_wifi) via_wifi=true;
		if (result.logged) {
		  //window.location="/index.html?index";
		}else{
			if(! result.language_set) {
			//	window.location="/welcome.html";
			}else{
				$("#div_info_login").show();
			}
			if(! result.code_entered){
				$("#div_code").show();
				code_needed=true;
				$("#code").prop("required",true);
			}else{
				$("#div_code").hide();
				code_needed=false;
			}
		}
	}
    });

	$("#form").submit(function(){
		if(typeof(window.localStorage) != 'undefined')localStorage.clear();
	    $("#div-msg").attr('class','warningmsg');
	    $.ajax({
		type: "POST",
			url: "/cgi-bin/login_cgi",
			data: $("#form").serialize(),
			dataType: 'json',
			success: function(result){
				if(result.success){
					$("#div_msg").html("");
					window.location="/html/index";
				}else{
					$("#div-msg").attr('class','errormsg');
					$("#div-msg").html("Oops! That's not the right password.");
					 location.window.location();
				}
			},
			error: function(){
				$("#div-msg").attr('class','errormsg');
				$("#div-msg").html("Please try again and makes sure you are connected to Pyramid.");
			}
	    });
	    return false;
	});

</script>

<script>
var refresh_delay=false;
var modem_config={};

var sub_section=document.URL.split('&')[2];
console.log(sub_section);
if(sub_section){

	if(sub_section=="macclone") display_macclone();
	else if (sub_section=="dns") display_dns();
}

fill_wan_info();
var repeater_connected=false;
function display_dns(){
	if(window.history.pushState) window.history.pushState({},null,"index?index&wan_status&dns");
    $("#div-wan-status").hide();
    $("#div-mac-clone").hide();
    $("#div-dns").show();
    $.get("/cgi-bin/router_cgi?action=getdns",function(data){
        if (data.custom_dns){
            var dns=data.custom_dns.split(' ');
            $("#dns1").val(dns[0]);
            $("#dns2").val(dns[1]);
        }
        if(data.force_dns){
            $('#force-dns').prop('checked', true);
        }
        if(data.rebind_protection){
            $('#dns-rebind_protection').prop('checked', true);
        }
    });
}
function display_macclone(){
	if(window.history.pushState) window.history.pushState({},null,"index?index&wan_status&macclone");
    $("#div-mac-clone").show();
    $("#div-dns").hide();
    $("#div-wan-status").hide();
    //if($("#label-model").text().substring(0,2) =="mt" ) $("#mac-clone-msg").text("Your GL-MT300N/A is not able to clone mac on Repeater mode");
    $.ajax({
        type : 'GET',
        dataType : 'json',
        url : "/cgi-bin/router_cgi?action=getmac",
        success : function(result){
            $("#wan-mac").val(result.mac);
            $("#your-mac").val(result.remote);
            $("#factory-mac").val(result.factory);
        }
    });
}
function clone_mac(){
    $("#wan-mac").val($("#your-mac").val());
}
function restore_mac(){
    $("#wan-mac").val($("#factory-mac").val());
}
function submit_dns(){
	if ( $("#form-dns")[0].checkValidity()==false) return;
    $("#mac-dns-msg").text("Updating ..." );
    $.ajax({
        type: "POST",
        url: "/cgi-bin/router_cgi",
        data: $("#form-dns").serialize(),
        dataType: 'json',
        success: function(result){
            if(!result.success){
                $("#mac-dns-msg").text("error, cannot set" );
                return;
            }
            $("#mac-dns-msg").text("DNS updated. Please wait some seconds to let it take effect" );
        },
        error: function(xhr, textStatus, errorThron){
            $("#mac-dns-msg").text("error" +textStatus);
        }
    });
}
function submit_macclone(){
	$("#mac-clone-msg").text("Updating...");
    $.ajax({
        type: "POST",
        url: "/cgi-bin/router_cgi",
        data: $("#form-macclone").serialize(),
        dataType: 'json',
        success: function(result){
            if(result.success){
                $("#mac-clone-msg").text("MAC address updated. Reload in 5 seconds");
                setTimeout(function(){location.reload();},5000);
            }else{
                $("#mac-clone-msg").text("Error:" +result.error);
            }
        },
        error: function(xhr, textStatus, errorThron){
            $("#mac-clone-msg").text("error" +textStatus);
        }
    });
}

function fill_3g_status(){
	var ret="";
    $.getJSON("/cgi-bin/router_cgi?action=3gsettings",function(result){
		ret+="<tr><td>Service Type</td><td>"+ result.config.service+"</td></tr>";
		ret+="<tr><td>Device</td><td>"+ result.config.device+"</td></tr>";
		ret+="<tr><td>APN</td><td>"+ result.config.apn+"</td></tr>";
    });
    return ret;
}

function output_status(result){
	var proto=result.proto;
	var title;
	var html="";
	var section="";
	switch (proto) {
		case "pppoe":
			html+="<tr><td>Protocol</td><td>"+ proto+"</td></tr>";
			html+="<tr><td>Username</td><td>"+ result.username+"</td></tr>";
			section="#sub-wan table tbody";
			break;
		case "dhcp":
		case "static":
			html+="<tr><td>Protocol</td><td>"+ proto+"</td></tr>";
			html+="<tr><td>Cable</td><td>"+ (result.cable_connected? 'Connected' : 'Not connected')+"</td></tr>";
			section="#sub-wan table tbody";
			break;
		case "wisp":
		case "wds":
			$("#sub-repeater").show();
			if(result.ipv4) $("#btn-disconnect").show();
			repeater_ssid=result.ssid;
			html+="";
			if(!result.disabled){
				html+="<tr><td>Protocol</td><td>"+ proto+"</td></tr>";
				html+="<tr><td>SSID</td><td>"+ result.ssid+"</td></tr>";
			}
			section="#sub-repeater table tbody";
			break;
		case "wwan":
			$("#sub-modem").show();
			section="#sub-modem table tbody";
			html+="<tr><td>Modem</td><td>"+ (result.modem_connected? 'Connected' : 'Not connected')+"</td></tr>";
			html+=fill_3g_status();
			if(result.disabled){
				html+="<tr><td>Disabled</td><td>Disabled</td></tr>" ;
				$("#btn-disconnect-modem").val("Enable");
				$("#btn-reset-modem").hide();
				$("#btn-disconnect-modem").off("click").on("click",function(){enable_modem()});
			} else {
				$("#btn-reset-modem").show();
				$("#btn-disconnect-modem").val("Disable");
				$("#btn-disconnect-modem").off("click").on("click",function(){disable_modem()});
			}
			break;
		case "tethering":
			$("#sub-tethering").show();
			section="#sub-tethering table tbody";
			if(result.disabled) return ;
			break;
		default:
	}
	if(result.ipv4){
		$("#btn-disconnect").show();
		$("#btn-disconnect-modem").show();
		var ipv4=result.ipv4;
		html+="<tr><td>IPAddr</td><td>"+ ipv4.ipaddr+"</td></tr>";
		if(ipv4.netmask) html+="<tr><td>Netmask</td><td>"+ ipv4.netmask+"</td></tr>";
		if(ipv4.gateway) html+="<tr><td>Gateway</td><td>"+ ipv4.gateway+"</td></tr>";
		label_dns="DNS";
		for(var i=0;i<ipv4.dns.length;i++){
			html+="<tr><td>"+label_dns+"</td><td>"+ ipv4.dns[i] +"</td></tr>";
			label_dns="";
		}
		if(proto=="wwan" || proto=="tethering"||proto=="3g"){
			if(result.tx) html+="<tr><td>TX Data</td><td>"+(result.tx/1024/1024>1? ((result.tx/1024/1024).toFixed(2)+" MB"): ((result.tx/1024).toFixed(2) +" KB") )+" </td></tr>";
			if(result.rx) html+="<tr><td>RX Data</td><td>"+(result.rx/1024/1024>1? ((result.rx/1024/1024).toFixed(2)+" MB"): ((result.rx/1024).toFixed(2) +" KB") )+"</td></tr>";
		}
		if(typeof sta_connected === "function") sta_connected();

	}else{
		if( (proto=="wwan" ||proto=="tethering")){
			if(!result.disabled) html+="<tr><td>Connecting to the Internet</td></tr>";
		}
		if(proto=="wisp" ||proto=="wds"){
			if(!result.disabled) html+="<tr><td>Connecting to the Internet</td></tr>";
			result.disabled? $("#btn-disconnect").hide():$("#btn-disconnect").show();
		}
	}
	$(section).html(html);
}

function toggle_auto_repeater(){
	refresh_delay=true;
	$("#msg-auto-repeater").text('Updating ...');
	var enable=$("#repeater-auto").is(':checked');
	if(enable){
		$.getJSON("/cgi-bin/router_cgi?action=auto_repeater&enable=on",function(result){
			if(result.success){
				$("#msg-auto-repeater").text('Enabled');
			}else{
				$("#msg-auto-repeater").text('Failed');
			}
		});
	}else{
		$.getJSON("/cgi-bin/router_cgi?action=auto_repeater&enable=off",function(result){
			if(result.success){
				$("#msg-auto-repeater").text('Disabled');
			}else{
				$("#msg-auto-repeater").text('Failed');
			}
		});
	}
}
function disconnect_repeater(){
	refresh_delay=true;
	$("#msg-disconnect").text("Disconnecting ...");
	var enable=$("#repeater-auto").is(':checked');
	if(enable){
		var r = confirm("Do you want to disable Repeater Auto-Connect Feature as well?\n\nAuto-Connect daemon may reconnect this quickly.");
		if(r==true){
			$("#repeater-auto").prop('checked', false);
			toggle_auto_repeater();
		}
	}
	$.getJSON("/cgi-bin/router_cgi?action=disconnect_repeater",function(result){
		if(result.success){
			if(result.lanip){
				$("#msg-disconnect").text("Redirecting you to "+result.lanip);
				setTimeout(function(){window.location="http://"+result.lanip+"/html/index?"},5000);
			}else{
				$("#msg-disconnect").text("refreshing ...");
				//setTimeout(function(){fill_wan_info();},5000);
			}
		}
	});
}

function disable_modem(){
	$("#msg-reset-modem").text("Disconnecting ...");
	$.getJSON("/cgi-bin/router_cgi?action=disable_modem",function(result){
		if(result.success){
			$("#msg-reset-modem").text("Disabled");
		}
	});
}
function enable_modem(){
	$("#msg-reset-modem").text("Connecting ...");
	$.getJSON("/cgi-bin/router_cgi?action=enable_modem",function(result){
		if(result.success){
			$("#msg-reset-modem").text("Enabled");
		}
	});
}
function fill_wan_info(){
	if(refresh_delay) {
		refresh_delay=false; //only delay one cycle
		setTimeout(function(){fill_wan_info();},5000);
		return;
	}
    $.getJSON("/cgi-bin/router_cgi?action=getwan", function(result){
		$("#msg-disconnect").text("");
		$("#msg-reset-modem").text("");
		if(result.wan) { //always display cable status
			$("#sub-wan table tbody").empty();
			output_status(result.wan);
		}
		if(result.wwan) {
			output_status(result.wwan);
		}else{
			$("#sub-repeater table tbody").empty();
			$("#sub-repeater").hide();
		}
		if(result.modem && result.modem.modem_connected) {
			output_status(result.modem);
		}else{
			$("#sub-modem table tbody").empty();
			$("#sub-modem").hide();
		}
		if(result.tethering && result.tethering.phone_connected) {
			output_status(result.tethering);
		}else{
			$("#sub-tethering table tbody").empty();
			$("#sub-tethring").hide();
		}
		setTimeout(function(){fill_wan_info();},5000);
    });
}
var modem_detected=false;
var carrier_detected=false;

function detect_modem(config_disabled){
	if (modem_detected) return;
	$.getJSON("/api/modem/get_modem_info", function(result){
		if(typeof(result.modems) == "undefined")return;
		$("#sub-modem table tbody").empty();
		var html="";
		var modems=result.modems;
		if(modems.length==0) {
			$("#sub-modem").hide();
			return;
		}
		modem_detected=true;
		var modem_0=modems[0];
		modem_config.modem=modem_0;

		html+="<tr><td width='25%'>Model</td><td width='70%'>"+modem_0.name+"</td></tr>";
		if(config_disabled) html+="<tr><td>Status</td><td>It was disabled. <a class=button href='javascript:enable_modem();'>Enable</a> it again</td></tr>";
		html+="<tr><td>Carrier</td><td id='carrier_info'></td></tr>";
		html+="<tr><td colspan=2 id='modem_action'></td></tr>";
		$("#sub-modem").show();
		$("#sub-modem table tbody").html(html);
		detect_carrier(modem_0.modem_id);
	});
}
function detect_carrier(id){
	if(carrier_detected) return;
	$("#carrier_info").text("Detecting...");
	$.getJSON("/api/modem/get_carrier_info?modem_id="+id, function(result){
		if(result.name){
			modem_config.carrier=result;
			$("#msg-reset-modem").text("");
			carrier_detected=true;
			$("#carrier_info").html(result.name + ", Signal "+result.signal);
			$("#modem_action").html("Do you want to <a class=button href='javascript:setup_modem();'>Set up</a>");
		}else{
			carrier_detected=false;
			$("#carrier_info").html("Cannot Detect carrier ");
			$("#modem_action").html("Please make sure the SIM card is inserted in correct direction and do a <a class=button href='javascript:reset_modem();'> modem reset</a>");
			setTimeout(detect_carrier(id),5000);
		}
	});
}
function setup_modem(){
	var area=$("#btn-modem-tools").offset();
	$("#modal").css({top: area.top, left: area.left, width: $("#div-internet").width(), height: $("#div-internet").height()});
	$("#modal").show();

	setTimeout(function(){
		$("#model_content").hide();
		$("#modal").attr("class","modal open");
		$("#modal").removeAttr("style");
		$("#overlay").show();
	},20);
	setTimeout(function(){
		$("#model_content").html("");
		$("#model_content").show();
		$("#model_content").load("/html/modem_settings");
	},500);
}
function display_saved_networks(){
	var area=$("#btn-stations").offset();
	$("#modal").css({top: area.top, left: area.left, width: $("#btn-stations").width(), height: $("#btn-stations").height()});
	$("#modal").show();

	setTimeout(function(){
		$("#model_content").hide();
		$("#modal").attr("class","modal open");
		$("#modal").removeAttr("style");
		$("#overlay").show();
	},20);
	setTimeout(function(){
		$("#model_content").show();
		$("#model_content").load("/html/saved_stations");
	},500);
}
function reset_modem(){
	refresh_delay=true;
	$("#msg-reset-modem").text("Reseting modem ...");
	$.getJSON("/cgi-bin/router_cgi?action=resetmodem", function(result){
		if(result.success)
			$("#msg-reset-modem").text("Modem reset");
		else
			$("#msg-reset-modem").text("Failed");
    });
}
</script>

<script>
var connected_sta;
var all_networks;
display_ssids();
function display_ssids(){
	$("#tbody-ssids").find("tr:gt(0)").remove();
	$.getJSON("/cgi-bin/router_cgi?action=getssids", function(result){
		all_networks=result;
		var i=0;
		for(sta in result){
			i++;
			var network=result[sta];
			var html="<tr id='tr-"+sta+"'><td>"+ i
					+"</td><td><img src='/images/0.png'>"+ network.ssid
					+"</td><td>"+ "<label>********</label>"
					+"</td><td>"+ (network.wds?"Yes":"")
					+"</td><td>"+ "<input type='checkbox' "+ (network.disabled?"":"checked" )+" onclick='toggle_ssid(this,\""+sta+"\")'>"
					+"</td><td>"+ "<button class='btn btn-success btn-fab btn-fab-mini btn-round' onclick='connect2_ssid(this,\""+sta+"\")'><i class='material-icons'>check</i></button><span> </span><button class='btn btn-danger btn-fab btn-fab-mini btn-round'type='button' onclick='delete_ssid(this,\""+sta+"\")'><i class='material-icons'>delete</i></button>"
					+"</td></tr>";
			$("#tbody-ssids").append(html);
			if(network.ssid==repeater_ssid) {
				connected_sta=sta;
				$("#tr-"+sta).css("font-weight","bold");
			}
		}
		scanssids();
	});
}
/*scan wifi and fill the select box*/
function scanssids(){
	$("#ssid-loading").html("<img src='/images/loading.gif' width='18px' height='18px'>");
	$.get("/cgi-bin/router_cgi?action=scanwifi", function(result){
			$("#ssid-loading").html("");
			//$("#tbody-ssids").append("<tr style='height:40px'><td colspan=6>The following networks are available, but not in your list.</td></tr>");
			stations=sortByKey(result.stations,"Quality");
			for(var i=0;i<stations.length;i++){
				var img;
				var has_password=true;
				if(stations[i].Encryption =="none") has_password=false;
				if(stations[i].Quality==100) img=(has_password?"/images/100e.png":"/images/100.png");
				else if(stations[i].Quality>=50) img=(has_password?"/images/75e.png":"/images/75.png");
				else if(stations[i].Quality>=25) img=(has_password?"/images/50e.png":"/images/50.png");
				else img=(has_password?"/images/25e.png":"/images/25.png");

				var found=0;
				for(sta in all_networks){
					if(all_networks[sta].ssid==stations[i].SSID){
						found =1;
						$("#tr-"+sta+" td:nth-child(2) img:first-child").attr("src",img);
						break;
					}
				}
				if(found==0){
					continue;
					var html="<tr><td>"
						+"</td><td colspan=4><img src='"+img+"'>"+ stations[i].SSID
						+"</td><td>"+ "<input type='button' value='add' onclick=\"connect_new_ssid(this,\'"+stations[i].SSID+"\')\">"
						+"</td></tr>";
					$("#tbody-ssids").append(html);
				}
			}
	});
}

function toggle_ssid(item,sta){
	$(item).nextAll().remove();
	var label="<span id='msg-toggle' class='msg2'>updating</span>";
	$(item).after(label);
	var checked=item.checked;
	$.getJSON("/cgi-bin/router_cgi?action=toggle_ssid&enable="+checked+"&sta="+sta, function(result){
		if(result.success){
			$(item).next().text("done");
			$(item).next().addClass('hidden');
		}
	});
}
var repeater_loading=false;
var repeater_index;
var connecting_tr;
var connection_input;
var repeater_only;

function connect_new_ssid(item,ssid){
	repeater_ssid=ssid;
	repeater_only=true;
	$("#model_content").load("/html/repeater_connect");
}
function connect2_ssid(item,sta){
	$(item).prop('disabled', true);
	$.getJSON("/cgi-bin/router_cgi?action=connect2_ssid&sta="+sta, function(result){
		if(result.success){
			repeater_loading=true;
			connection_input=item;
			connecting_tr=$(item).parent().parent();
			repeater_index=$(connecting_tr).children().first().text();
			$(connecting_tr).children().first().html("<img src='/images/connecting.gif'>");
		}
	});
}
function sta_connected(){
	$(connecting_tr).children().first().html(repeater_index);
	$("#tbody-ssids tr").css("font-weight","");
	$(connecting_tr).css("font-weight","bold");
	$(connecting_tr).find("input[type=button]").prop('disabled', false);
}

function delete_ssid(item,sta){
	$.getJSON("/cgi-bin/router_cgi?action=delete_ssid&sta="+sta, function(result){
		if(result.success){
			$(item).parent().parent().remove();
		}
	});
}
function update_ssid_connect_status(status){
	$("#tbody-ssids tr").css("font-weight","");
	for(sta in all_networks){
		var network=all_networks[sta];
		if(network.ssid==repeater_ssid) {
			connected_sta=sta;
			$("#tr-"+sta).css("font-weight","bold");
		}
	}
	if(status==true && repeater_loading==true){
		$(connecting_tr).children().first().text(repeater_index);
		$(connection_input).prop('disabled', false);
		repeater_loading=false;
	}
}

</script>

                        
        <script src='/js/materialize.min.js'></script>

    <script  src="/js/sidenav.js"></script>
	<!--   Core JS Files   -->
	<script src="/js/bootstrap.min.js" type="text/javascript"></script>
	<script src="/js/material.min.js"></script>
    <script src="/js/material-kit.js?v=1.1.0" type="text/javascript"></script>

        </div> </body></html>