<style TYPE="text/css">
<!--
table tbody tr:first-child td{
	font-size:18px;
	font-weight:bold;
	height: 35px;
	border-bottom: 1px solid grey;
}
td:nth-child(2) {
	text-align:right;
	padding-right:10px !important;
}
td{
	vertical-align:middle !important;
}
-->
</style>
<div id='paper'>
	<form id="form-mesh" method="post">
		<input type="hidden" name="action" value="set_mesh_configs">
	<table id="table-nodes" style="width:80%; margin:0 auto;">
		<tbody id="tbody-mesh">
			<tr><td colspan="3">Mesh Settings</td></tr>
			<tr><td></td><td>Channel</td><td>
				<select id="mesh-channel" name="mesh-channel">
					<option>1</option>
					<option>2</option>
					<option>3</option>
					<option>4</option>
					<option>5</option>
					<option>6</option>
					<option>7</option>
					<option>8</option>
					<option>9</option>
					<option>10</option>
					<option>11</option>
					<option>12</option>
					<option>13</option>
				</select>
			</td></tr>
			<tr><td></td><td>LAN IP</td><td><input id="mesh-lanip" name="mesh-lanip" /></td></tr>
			<tr><td></td><td>Mesh SSID</td><td><input id="mesh-ssid" name="mesh-ssid" /></td></tr>
			<tr><td></td><td>Mesh BSSID</td><td><input id="mesh-bssid" name="mesh-bssid" /></td></tr>
			<tr><td></td><td>Mesh Key</td><td><input id="mesh-key" name="mesh-key" /></td></tr>
		</tbody>
		<tbody id="tbody-public">
			<tr><td colspan="3">Public SSID Settings</td></tr>
			<tr><td></td><td><label for="public-enabled">Enable Public SSID</label></td><td><input id="public-enabled" name="public-enabled" type="checkbox"/></td></tr>
			<tr>
				<td></td><td>Public SSID</td><td><input id="public-ssid" name="public-ssid" /></td>
			</tr>
			<tr>
				<td></td><td>Public Encryption</td>
				<td><select id="public-encryption" name="public-encryption">
					<option value="psk">WPA</option>
					<option value="psk2">WPA2</option>
					<option value="psk-mixed">WPA/WPA2 Mixed</option>
					<option value="wep">Wep</option>
					<option value="none">None</option>
					</select></td>
			</tr>
			<tr>
				<td></td><td>Public Key</td><td><input id="public-key" name="public-key" /></td>
			</tr>
			<tr>
				<td></td><td><label for="public-isolate">Isolate devices</label></td><td><input id="public-isolate" name="public-isolate" type="checkbox"/></td>
			</tr>
		</tbody>
		<tbody id="tbody-private">
			<tr><td colspan="3">Private SSID Settings</td></tr>
			<tr><td></td><td><label for="private-enabled">Enable Private SSID</label></td><td><input id="private-enabled" name="private-enabled" type="checkbox"/></td></tr><tr>
				<td></td><td>Private SSID</td><td><input id="private-ssid" name="private-ssid" /></td>
			</tr>
			<tr>
				<td></td><td>Private Encryption</td>
				<td><select id="private-encryption" name="private-encryption">
					<option value="psk">WPA</option>
					<option value="psk2">WPA2</option>
					<option value="psk-mixed">WPA/WPA2 Mixed</option>
					<option value="wep">Wep</option>
					<option value="none">None</option>
					</select></td>
			</tr>
			<tr>
				<td></td><td>Private Key</td><td><input id="private-key" name="private-key" /></td>
			</tr>
			<tr>
				<td></td><td><label for="private-isolate">Isolate devices</label></td><td><input id="private-isolate" name="private-isolate" type="checkbox"/></td>
			</tr>
		</tbody>
		<tbody>
			<tr><td colspan=3></td></tr>
			<tr><td colspan=3 style="text-align:center"><input id="submit" class="button_submit" type="button" value="Submit"></td></tr>
			<tr><td colspan=3><div id="msg" style="text-align:center"></div></td></tr>
		</tbody>
	</table>
	</form>
</div>

<script>
update_config();
function update_config(){
	$.get("/cgi-bin/mesh_cgi?action=get_mesh_configs",function(data){
		$("#mesh-channel").val(data.mesh.channel);
		$("#mesh-lanip").val(data.mesh.lanip);
		$("#mesh-ssid").val(data.mesh.ssid);
		$("#mesh-bssid").val(data.mesh.bssid);
		$("#mesh-key").val(data.mesh.key);
		//private
		$("#private-enabled").prop('checked', data.private.enabled);
		if(!data.private.enabled){
			$("#tbody-private tr:gt(1)").css('color','gray');
			$("#tbody-private tr:gt(1) *").prop('disabled',true);
		}else{
			$("#tbody-private tr:gt(1)").css('color','white');
			$("#tbody-private tr:gt(1) *").prop('disabled',false);
		}
		$("#private-ssid").val(data.private.ssid);
		$("#private-encryption").val(data.private.encryption);
		$("#private-key").val(data.private.key);
		$("#private-isolate").prop('checked',data.private.isolate);
		//public
		$("#public-enabled").prop('checked', data.public.enabled);
		if(!data.public.enabled){
			$("#tbody-public tr:gt(1) td").css('color','gray');
			$("#tbody-public tr:gt(1) *").prop('disabled',true);
		}else{
			$("#tbody-public tr:gt(1) td").css('color','white');
			$("#tbody-public tr:gt(1) *").prop('disabled',false);
		}
		$("#public-ssid").val(data.public.ssid);
		$("#public-encryption").val(data.public.encryption);
		$("#public-key").val(data.public.key);
		$("#public-isolate").prop('checked',data.public.isolate);
	});
}

$("#private-enabled").change(function() {
	if($(this).is(":checked")) {
		$("#tbody-private tr:gt(1) td").css('color','white');
		$("#tbody-private tr:gt(1) *").prop('disabled',false);
	}else{
		$("#tbody-private tr:gt(1) td").css('color','gray');
		$("#tbody-private tr:gt(1) *").prop('disabled',true);
	}
});

$("#public-enabled").change(function() {
	if($(this).is(":checked")) {
		$("#tbody-public tr:gt(1) td").css('color','white');
		$("#tbody-public tr:gt(1) *").prop('disabled',false);
	}else{
		$("#tbody-public tr:gt(1) td").css('color','gray');
		$("#tbody-public tr:gt(1) *").prop('disabled',true);
	}
});
$("#submit").click(function(){
	console.log($("#form-mesh").serialize());
	$("#msg").text("updating...");
	$.post("/cgi-bin/mesh_cgi",
		$("#form-mesh").serialize()
		).done(function(data){
			console.log(data);
			if(data.success){
				$("#msg").text("done");
			}else{
				$("#msg").text("failed");
			}
		});
	return false;
});
</script>

