<html lang="en">
<head>
	<title>Pyramid WiFi</title>
    <meta charset='utf-8'>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

	<!--     Fonts and icons     -->
	<link rel="stylesheet" type="text/css" href="/css/Material+Icons.css" />
	<link rel="stylesheet" href="/css/font-awesome.min.css" />

	<!-- CSS Files -->
    <link href="/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/css/material-kit.css?v=1.1.0" rel="stylesheet"/>
    
    <!-- Chrome, Firefox OS and Opera -->
<meta name="theme-color" content="#46008C">
<meta content="no-cache"> 
<link rel="shortcut icon" type="image/png" href="/images/favicon.png"/>

    <!-- app icons -->
    <link rel="apple-touch-icon" href="/images/apple-touch-icon57.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/images/apple-touch-icon72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/images/apple-touch-icon114.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/images/apple-touch-icon144.png">
    <script type="text/javascript" src="/js/jquery-3.2.1.min.js" ></script>
	<script type="text/javascript" src="/js/pyramid.js" ></script>
<script src="/js/jquery.dd.min.js" type="text/javascript"></script>
<link rel="stylesheet" type="text/css" href="/css/dd.css?ver=1.1" />
  
</head>

<body>
	

	
				 <div align="center"><h1 class="text-primary">You're all set 🎉</h1></div><div align="center"></div><br>
    
    <a href="/" class="btn btn-primary btn-round">Finish Setup</a>
    
    <script type="text/javascript">
$(document).ready(function() {
$("#rename").click();
});
</script>
         
         <script type="text/javascript">
$(document).ready(function() {
    setTimeout(function(){
    $("#rename").click();
},2000);
});
</script>
				
    
  
    </div>
		</div>

 

                <style>input 				{
  font-size:18px;
  padding:10px 10px 10px 5px;
  display:block;
  width:300px;
  border:none;
  border-bottom:1px solid #757575;
}
input:focus 		{ outline:none; }

                    
                    /* active state */
input:focus ~ .highlight {
  -webkit-animation:inputHighlighter 0.3s ease;
  -moz-animation:inputHighlighter 0.3s ease;
  animation:inputHighlighter 0.3s ease;
}

/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
	from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}
@-moz-keyframes inputHighlighter {
	from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}
@keyframes inputHighlighter {
	from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}

</style>
                
                
                
<button style="display:none" id="rename" onclick="renamescript();">Rename</button>
                
<button style="display:none" onclick="checklogin();">Check Login</button>
                
              
          
             
                
  <!-- body style !-->
    
<style>
    
    body {

         
background-color: white; 
          background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-position: center;
  background-size: cover;
      margin:0;
  min-height:100vh;
  display:flex;
  align-items:center;
  justify-content:center;
flex-direction: column;
       opacity: 100; filter: alpha(opacity=20); 
      z-index: 0;

}
</style>
    
            
            <!--   Core JS Files   -->
  <script src='/js/materialize.min.js'></script>


	<!--   Core JS Files   -->
	<script src="/js/bootstrap.min.js" type="text/javascript"></script>
	<script src="/js/material.min.js"></script>
    <script src="/js/material-kit.js?v=1.1.0" type="text/javascript"></script>
   
            
            
            
<!-- end of body style !-->          

<script>
	$.ajaxSetup({
		cache: false,
		headers: {'X-CSRF-TOKEN':'<%HTTP-X-CSRF-TOKEN%>'},
	});
    
    

	$("#form").submit(function(){
		if(typeof(window.localStorage) != 'undefined')localStorage.clear();
	    $("#div-msg").attr('class','warningmsg');
	    $("#div-msg").html("<img src='/images/loading.gif' size='23px'> <h4>Logging in ...</h4>");
	       
	    $.ajax({
        type : 'POST',
        dataType : 'json',
        data: ($("#form").serialize()).replace('username','email'),
        url : "https://pyramidgo.com/pyramid_api/api/v1/login",
        success : function(result_1){
        	if(result_1.status=='success') {
        				$('#ovpn-username').val(result_1.successData.vpn.vpn_uid);
        				$('#ovpn-password').val(result_1.successData.vpn.vpn_password);
                        $("#submit_user_pass").click();
        				local_login(result_1.successData.vpn);
        		    }else{
						$("#div-msg").attr('class','errormsg');
						$("#div-msg").html("<h4 class='text-danger'>Try again! That's not it 🤓</h4>");
						// location.reload();
					}
   
        }
    	});
	    return false;
	});

</script>

            
<!-- submission of credentials !-->
   
            
            <script>
 
function submit_user_pass(){
    $("#div-msg").text("Please wait ...");
    $.ajax({
        type : 'POST',
        data: $("#form-user-pass").serialize(),
        dataType : 'json',
        url : "/cgi-bin/openvpn_cgi"
    })
    .done(function(result){
            if(result.ovpn.length>0){
                window.location.replace("/html/");
                close_modal();
               
            }else{
                window.location.replace("/html/");
            }
        })
    .fail(function(result){
        console.log("set user pass failed");
    });
}
            
                 </script>
            
<!-- end of submission of credentials !-->
            


  <script> $("#submit_user_pass").click(function(){
    $("#renamey").click();
                }); 
</script>



           <script>
            
            
            
            function renamescript(){
            $.ajax({
                type: "GET",
                url: "/cgi-bin/rename.cgi",
                success: function(result){
                    
                },
                error: function(error){
                    
                }
               });
            }
               
               
            
            </script> 
            
             <script>
            
                 function checklogin(){
                  $.ajax({
				type: "GET",
				url: "/cgi-bin/check_login.cgi",
				success: function(result){
					console.log(result);
                    if(result=='false');
                 	window.location = "/html/activate";
                },
				error: function(error){
                                   console.log(error)
				}
		 	   });
              }
               
            
            </script>
            
            
            
</body>
</html>
