<div class="pop_title">Share A File</div>
<div class="pop_main">
<div>
	<img src="/images/file.png" style="height:30px;width:auto">
	<label id="share_file_name"></label>
</div>
<div id="share_file_description">

</div>
<div>
	<label id="file_share_link"></label>
</div>
</div>
<input type="button" class="button_submit" id="button_unlink" value="Unlink">
<input type="button" class="button_submit" id="button_link" value="Link">
<h4 style='color:#207087'><%To use shares, you need to enable%> <font color=#336808><%WAN access%></font> <%and have an%> <font color=#336808><%Internet accessible IP%> </font>.</h4>
<script>
fillLinkInfo(current_file,current_parent);
</script>
