<div id="app-video" class="app-container">
	<div class="toolbar"> 
		<div class="control_pannel"> 
			<span>
				<label><%Flash usage%></label>
				<label></label>
				<div id="flash-usage"><span class="usage" style="width:30%"></span></div>
			</span>
		</div>
	</div> 
	<div id="div-software-search" style="text-align:center" >
		<div style="display:inline-block;position:relative"><input id="keyword" class="search-box1" type="text" id="software-keyword"/><input id="search-keyword" class="download-button" type="button" value="<%Search%>"/>
		<ul id="search-autocomplete" class="dropdown-list">
			
		</ul>
		</div>
		<input id="search-installed" type="button" class="download-button" value="<%List installed%>"/>
		<input id="search-all" type="button" class="download-button" value="<%List all%>"/>
	</div>
	<div id="div-software-list" style="text-align:center" >
		<div id="list-title"></div>
		<table id="table-software">
			
		</table>
	</div>		
</div>

<script>
var all_list;
var installed_list;

check_software_status();

$("#search-installed").click(function(){get_installed();});
$("#search-keyword").click(function(){search_keyword();});
$("#search-all").click(function(){get_all_packages();});

function check_software_status(){
	$.ajax({
	    type: "GET",
	    url: "/cgi-bin/software_cgi?action=getstatus",
	    dataType: "json",
	    success: function(result){
			$("#table-software").html("");
			$("#table-software").attr("class","table-info");
			var s= "<tr></tr><td><%Firmware version%></td><td>"+result.version+"</td></tr>";
			s = s + "<tr><td><%Openwrt release%></td><td>"+result.release+"</td></tr>";
			s = s + "<tr><td><%Linux kernel%></td><td>"+result.kernel+"</td></tr>";
			s = s + "<tr><td><%Repository%></td><td>"+result.repo+"</td></tr>";
			s = s + "<tr><td><%Package count%></td><td id='software-count'><img src='/images/loading.gif'><%Checking%>...</td></tr>";
			$("#table-software").append(s);
			$("#flash-usage .usage").css("width",(1-result.available/result.total)*100 +"%");
			$("#flash-usage ").after(result.available.toFixed(2) +"M <%free%> (<%Total%>: "+result.total.toFixed(1)+"M)");
			get_installed_packages(true);
	    }
	});
}
function get_all_list(){
	if(typeof(Storage) !== "undefined"){
		if(localStorage.getItem("all_list")){
			try{
				all_list=JSON.parse(localStorage.getItem("all_list"));
				$("#software-count").text(all_list.length);
				return;
			}catch(e){
			}
		}
	}
	$.ajax({
	    type: "GET",
	    url: "/cgi-bin/software_cgi?action=listall",
	    dataType: 'json',
	    success: function(result){
			all_list=result.packages;
			if(typeof(Storage) !== "undefined"){
				localStorage.setItem("all_list",JSON.stringify(all_list));
			}
			if(result.opkg_updated){
				$("#software-count").text(result.count);
			}else{
				setTimeout(function(){get_all_list();},1000);
			}
	    },
	    error: function(){
			setTimeout(function(){get_all_list();},1000);
		}
	});
}

function already_installed(pkg){
	var installed=false;
	for(var i=0;i<installed_list.length;i++){
		if(installed_list[i].name==pkg){
			installed=true;
			break;
		}
	}
	return installed;
}

function search_keyword(keyword){
	$("#table-software").html("<tr><td><img src='/images/loading.gif'><%Checking%>...</td></tr>");
	if(!keyword) keyword=$("#keyword").val();
	$("#list-title").html("<%Search packages%>");
	$.ajax({
	    type: "GET",
	    url: "/cgi-bin/software_cgi?action=find&pattern="+keyword,
	    dataType: "json",
	    success: function(result){
			$("#table-software").html("<tr><td><%Action%></td><td><%Name%></td><td><%Version%></td><td><%Description%></td></tr>");
			$("#table-software").attr("class","table-list");
			for(var i=0;i<result.packages.length;i++){
				var action="install";
				var action_s="<%install%>";
				if(already_installed(result.packages[i].name)) {
					action="remove";
					action_s="<%remove%>";
				}
				$("#table-software").append("<tr><td><a href='javascript:opkg(\""+action+"\",\""+result.packages[i].name+"\")'>"+action_s+"</a></td><td>"+result.packages[i].name+"</td><td>"+result.packages[i].ver+"</td><td>"+result.packages[i].desc+"</td></tr>");
			}
	    }
	});
}
function get_installed_packages(getall){
	$.ajax({
	    type: "GET",
	    url: "/cgi-bin/software_cgi?action=installed",
	    dataType: "json",
	    success: function(result){
			installed_list=result.packages;
			if(getall)get_all_list();
	    },
		error: function(){
			setTimeout(function(){get_installed_packages(getall);},1000);
		}
	});
}
function get_installed(){
	$("#table-software").html("<tr><td><img src='/images/loading.gif'><%Checking%>...</td></tr>");
	$.ajax({
	    type: "GET",
	    url: "/cgi-bin/software_cgi?action=installed",
	    dataType: "json",
	    success: function(result){
			$("#table-software").html("<tr><td><%Action%></td><td><%Name%></td><td><%Version%></td></tr>");
			$("#list-title").html("<%Installed packages%>");
			$("#table-software").attr("class","table-list");
			for(var i=0;i<result.packages.length;i++){
				$("#table-software").append("<tr><td><a href='javascript:opkg(\"remove\",\""+result.packages[i].name+"\")'><%remove%></a></td><td>"+result.packages[i].name+"</td><td>"+result.packages[i].version+"</td></tr>");
			}
	    },
		error: function(){
			setTimeout(function(){get_installed();},1000);
		}
	});
}
function search_letter(letter){
	$("#table-software").html("<tr><td><img src='/images/loading.gif'><%Checking%>...</td></tr>");
	$.ajax({
	    type: "GET",
	    url: "/cgi-bin/software_cgi?action=find&letter="+encodeURIComponent(letter),
	    dataType: "json",
	    success: function(result){
			$("#table-software").html("<tr><td>Action</td><td>Name</td><td>Version</td><td>Description</td></tr>");
			$("#table-software").attr("class","table-list");
			for(var i=0;i<result.packages.length;i++){
				var action="install";
				var action_s="<%install%>";
				if(already_installed(result.packages[i].name)) {
					action="remove";
					action_s="<%remove%>";
				}
				$("#table-software").append("<tr><td><a href='javascript:opkg(\""+action+"\",\""+result.packages[i].name+"\")'>"+action_s+"</a></td><td>"+result.packages[i].name+"</td><td style='max-width:100px;word-wrap:break-word'>"+result.packages[i].ver+"</td><td>"+result.packages[i].desc+"</td></tr>");
			}
	    }
	});
}
function opkg(action, pkg){
	$("#list-title").html(action+" package "+ pkg);
	$("#table-software").attr("class","table-info");	
	$("#table-software").html("");
	$("#table-software").append("<tr><td><%Output%></td><td><img src='/images/loading.gif'></td></tr>");
	$.ajax({
	    type: "GET",
	    url: "/cgi-bin/software_cgi?action="+action+"&package="+pkg,
	    dataType: "json",
	    success: function(result){
			get_installed_packages(false);
			$("#table-software").html("");
			$("#table-software").append("<tr><td><%Output%></td><td>"+result.stdout+"</td></tr>");
			if(result.stderr)
				$("#table-software").append("<tr><td><%Error%></td><td>"+result.stderr+"</td></tr>");
		}
	});
}
function get_all_packages(){
	$("#table-software").html("");
	
	var s="";
	for(var i=0;i<26;i++){
		var code=65+i;
		var ch=String.fromCharCode(code);
		s=s+"<a class='letter' href='javascript:search_letter(\""+ch+"\");'>"+ch+"</a>";
	}
	s=s+"<a class='letter' href='javascript:search_letter(\"#\");'>#</a>";
	$("#list-title").html("<div><%Please click initial letter%></div>");
	$("#list-title").append(s);
}

$("#keyword").focus(function(){
	$("#search-autocomplete").show();
});

$("#keyword").focusout(function(){
	setTimeout(function(){$("#search-autocomplete").hide()},200);
});
$("#keyword").on('input propertychange paste',function(){
	$("#search-autocomplete").show();
	$("#search-autocomplete").text("");
	var keyword=$(this).val();
	if(keyword.length==0) return;
	if(!all_list) return;
	var count=0;
	
	for(var i=0;i<all_list.length;i++){
		if(count>10)break;
		if(all_list[i].indexOf(keyword)==0) {
			$("#search-autocomplete").append("<li onclick='select_keyword(this)'>"+all_list[i]+"</li>");
			count=count+1;
		}
	}

	for(var i=0;i<all_list.length;i++){
		if(count>10)break;
		if(all_list[i].indexOf(keyword)>0){
			$("#search-autocomplete").append("<li onclick='select_keyword(this)'>"+all_list[i]+"</li>");
			count=count+1;
		}
	}
});

$("#keyword").keydown(function(e){
	if(e.keyCode==27){
		$("#search-autocomplete").hide();
	}else if (e.keyCode==13){
		$("#search-autocomplete").hide();
		search_keyword();
	}
});

function select_keyword(li){
	$("#keyword").val($(li).text());
}
</script>

