<div id="app-cloud" class="app-container">
	<div class="app-title">
		
	</div>
	<div class="toolbar"> 
		<div class="control_pannel"> 
			<span style="width:70%;">
				<form id="form_ssh">
					<input type="hidden" name="action" value="set">
					<input type="hidden" name="software" value="sshproxy">
					<div id="cbi-ssh" class="div-config">
						<label for="enable_ssh"><%Enable SSH Proxy%></label>
						<span>
							<input  type="checkbox" id="enable_ssh" name="enable_ssh">
							<label style="margin-left:10px;"  for="enable_ssh"><%Check this to start SSH Proxy%></label>
						</span>
					</div>
					<div id="cbi-proxy" class="div-config">
						<label for="enable_redsock2"><%Enable transparency%></label>
						<span>
							<input  type="checkbox" id="enable_redsock2" name="enable_redsock2">
							<label style="margin-left:10px;"  for="enable_redsock2"><%Check this to start transparent routing%></label>
						</span>
					</div>
					<div id="cbi-server" class="div-config">
						<label><%SSH Server%></label>
						<span>
							<input  type="text" id="ssh_server" name="ssh_server">
							<label style="margin-left:10px;"></label>
						</span>
					</div>
					<div id="cbi-username" class="div-config">
						<label>SSH <%Username%></label>
						<span>
							<input  type="text" id="ssh_username" name="ssh_username">
							<label style="margin-left:10px;"></label>
						</span>
					</div>
					<div id="cbi-authentication" class="div-config">
						<label><%Authentication Method%></label>
						<span>
							<input type="radio" id="ssh_auth_rsa" value="rsa" name="ssh_auth">
							<label for="ssh_auth_rsa"><%RSA (Suggested)%></label>
						</span>
						<span>
							<input type="radio" id="ssh_auth_password" value="password" name="ssh_auth" disabled>
							<label for="ssh_auth_password"><%Password%>(<%Coming soon, please refer to%> <a href='http://www.gl-inet.com/docs/smartrouter/'>Help</a>)</label>
						</span>
					</div>
					<div id="cbi-password" class="div-config">
						<label>SSH <%Password%></label>
						<span>
							<input  type="text" id="ssh_password" name="ssh_password">
							<label style="margin-left:10px;"></label>
						</span>
					</div>
					<div id="cbi-rsa" class="div-config">
						<label>SSH RSA </label>
						<span>
							<textarea id="ssh_rsa" style="width:400px" name="ssh_rsa"></textarea>
							<label style="margin-left:10px;"></label>
						</span>
					</div>
					<input id="submit_ssh" class="submit-app" type="button" value="Apply" class="button">	
					<label id="software_msg"></label>			
				</form>
			</span>
		</div>
	</div> 
	<div>
		<div class="app-title"><%Status%></div>
		<table id="ssh_status_table" class="table-center">
			<tr><td><%SSH Proxy started%></td><td id="ssh_status"></td></tr>
			<tr><td><%Transparent routing started%></td><td id="redsocks_status"></td></tr>
		</table>
	</div>		
</div>
<script>

$("input[name=ssh_auth]").click(function(){
	if($(this).val()=="rsa"){
		$("#cbi-rsa").show();
		$("#cbi-password").hide();
	}else{
		$("#cbi-rsa").hide();
		$("#cbi-password").show();
	}
});
get_ssh_status();
function get_ssh_status(){
	$.ajax({
		type : 'GET',
		dataType: 'json',
		url: "/cgi-bin/software_cgi?action=get&software=sshproxy",
		success: function(result){
			if(result.success){
				$("#enable_ssh").prop('checked',result.sshproxy_enabled);
				$("#enable_redsock2").prop('checked',result.redsocks_enabled);
				$("#ssh_username").val(result.username);
				$("#ssh_server").val(result.server);
				if(result.password){
					$("#cbi-rsa").hide();
					$("#ssh_auth_password").prop('checked',true);
					$("#ssh_password").val(result.password);
				}else{
					$("#ssh_auth_rsa").prop('checked',true);
					$("#cbi-password").hide();
					$("#ssh_rsa").val(result.rsa);					
				}
				if(result.status.ssh_port){
					$("#ssh_status").text("Yes, listening on port: "+result.status.ssh_port);
				}else{
					$("#ssh_status").text("No");
				}
				if(result.status.redsocks_port){
					$("#redsocks_status").text("Yes, listening on port: "+result.status.redsocks_port);
				}else{
					$("#redsocks_status").text("No");
				}
			}
			else{
				window.location="/login.html";
			}
		}
	});
}
$("#submit_ssh").click(function(){
	var ssh_auth= $("input:radio[name=ssh_auth]:checked").val();
	
	if(ssh_auth=="rsa" && $("#ssh_rsa").val()=="" && $("#enable_ssh").is(':checked')){
		alert("RSA needed");
		return false;
	}
	if(ssh_auth=="password" && $("#ssh_password").val()==""&& $("#enable_ssh").is(':checked')){
		alert("Password needed");
		return false;
	}
	$("#software_msg").text("Updating...");
	$.ajax({
		type : 'POST',
		dataType: 'json',
		url: "/cgi-bin/software_cgi",
		data: $("#form_ssh").serialize(),
		success: function(result){
			$("#software_msg").text("ssh proxy updated");
			window.location.reload();
		}
	});
});
</script>
