

<!doctype html>
<html lang="en">
<head>
	<title>Pyramid WiFi</title>
    <meta charset='utf-8'>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

	<!--     Fonts and icons     -->
	<link rel="stylesheet" type="text/css" href="/css/Material+Icons.css" />
	<link rel="stylesheet" href="/css/font-awesome.min.css" />

	<!-- CSS Files -->
    <link href="/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/css/material-kit.css?v=1.1.0" rel="stylesheet"/>
    
    <!-- Chrome, Firefox OS and Opera -->
<meta name="theme-color" content="#46008C">
<meta content="no-cache"> 
<link rel="shortcut icon" type="image/png" href="/images/favicon.png"/>

    <!-- app icons -->
    <link rel="apple-touch-icon" href="/images/apple-touch-icon57.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/images/apple-touch-icon72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/images/apple-touch-icon114.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/images/apple-touch-icon144.png">
    <script type="text/javascript" src="/js/jquery-3.2.1.min.js" ></script>
	<script type="text/javascript" src="/js/gl.js?ver=20161114" ></script>
   
    

</head>
    
<header>
    
   
       
       
       
 
    
    </header>
    <body>
        
        	
        
        

        
        
<div class="container">
    <div class="tinted-image">
 
        <div class="row">
        
        
        
  
				<div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3">
					
                        
                      
    
        
        
         <div id="card1">

							<div class="card card-blog">
								
								<div class="card-content">
									<h2 align="center" class="category text-primary">Let's get started<br> 😎</h2>
                                    
									<p class="card-title">
										<p align="center">Before using Pyramid please make sure you have read and agree to our <a href="https://www.pyramidwifi.com/terms" target="_blank"><font color="purple">terms</font></a> and <a href="https://www.pyramidwifi.com/privacy" target="_blank"><font color="purple">privacy policy.</font></a></p>
									</p>
    <div class="text-center"><br><a id="startnow" class="btn btn-primary btn-round">Get Started</a></div>
								</div>
							</div>
</div> 
                    
            
            
            
        <div id="card2" style="display:none">
            
            <div class="card card-blog">
								
								<div class="card-content">
									<div align="center"><h3 class="category text-primary">System Password 🔑</h3></div>
                                    
									<p class="card-title">
										<h5 align="center">Let's set a system password. This will make sure only you can make changes to WiFi settings. Make it memorable, if you forget you have to reset 🤓</h5>
									
                                    
                                    
                         <div class="card-content"> 
                      <div id="div-language" style="display:none">
					<div class="slide-title">Choose Your Language</div>
					<div style="margin-top:100px; text-align:center">
						<a href="/html/welcome?lang=cn&step=2"><img src="/images/chinese.png" ></a>
						<a href="/html/welcome?lang=en&step=2"><img src="/images/english.png"></a>
					</div>
					<div id="lang-msg" style="margin-top:100px; text-align:center">

					</div>
				</div>
			
			
				<div id="timezone" style="display:none"><div class="slide-title"><%Choose Your Timezone%></div>
				<div id="div-map" style="text-align:center">

				</div>
				<div style="text-align:center">
					<input id="set-time-zone" class="button_next" type="button" style="margin-top:-10px;" value="<%Next%>">
                    </div></div>
		

			
				<form id="form">
					<input id="action" type="hidden" name="action" value="newpassword">
					<div class="slide-title"><%Set Your Password%>
					</div>
					
					
						<div class="group field" align="center"> <label><%Your Password%></label>
						<input spellcheck="false" id="password" name="password" class="password" type="text" required pattern=".{8,}" autocomplete="off">
						
				
					
                            <label><%Confirm Password%></label><input spellcheck="false" id="password1" name="password2" class="password" type="text" autocomplete="off"> </div>
					
					</div>
                        
                        <div align="center">
                        <br>
                        <input id="submitform1" type="button" class="btn btn-primary btn-round" value="Set Password" />
                        
                        </div>
					<div class="div-setting">
                        
                         <input id="submitform1" type="button" class="btn btn-primary btn-round" value="Set Password" />
                        
						<label></label><div id="finishbutton" style="display:none"><input type="submit" id="submit_button" class="button_finish" value="<%Finish%>"></div>
						
					</div>

				</form>
          
              </div>
              
                        
                </div>
                         <div id="wanmsg2" align"center"> <div id="div-msg" class="warningmsg"></div> </div>    
                             
                             </div>
            
            
            </div>
                  
    
                    
            <div class="group field" align="center">  <div class='actions'>   <script>
    
    $(document).ready(function() {
    $('.field input').keyup(function() {

        var empty = false;
        $('.field input').each(function() {
            if ($(this).val().length == 0) {
                empty = true;
            }
        });

        if (empty) {
            $('.actions input').attr('disabled', 'disabled');
        } else {
            $('.actions input').removeAttr('disabled');
        }
    });
});
    
    </script>
                
                
                
                
            
          
		
		</div>

</div>
                    
                    
                    
                    
                    
             <script>
                  $('#startnow').click(function() {
    $("#card1").hide();
    $("#card2").show();
                  });  </script>
                                    
                                    
                                    
                    
                    <style>
                    
                    input:focus {outline: none;}
                    input:focus {outline: 0; -webkit-box-shadow: none !important; -moz-box-shadow: none !important; box-shadow: none !important; }
                    
                        :focus {
    outline: 0;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
}
                    
                    
                    </style>
                    
                                        
        <script>
                  $('#submitform1').click(function() {
    $("#set-time-zone").click();
    $("#submit_button").click();
                  });  </script>
                    

<script>
	$.ajaxSetup({
		cache: false,
		headers: {'X-CSRF-TOKEN':'<%HTTP-X-CSRF-TOKEN%>'}
	});

	

	$(".password").change(function(){
		var password=$("#password").val();
		var password1=$("#password1").val();

		if(isIE){
			if(password.length<8) $("#password").next().show(); else $("#password ").next().hide();
			if(password1 != password) $("#password1").next().show(); else $("#password1").next().hide();
		}else{
			if(password.length<8){
				$("#password")[0].setCustomValidity("Password length must >8");
			}else if(password.indexOf('"')>-1)
				$("#password")[0].setCustomValidity('Password cannot contains "');
			else
				$("#password")[0].setCustomValidity("");

			if(password1 != password){
				$("#password1")[0].setCustomValidity("Password doesn't match");
			}else{
				$("#password1")[0].setCustomValidity("");
			}
		}
	});


	$("#form").submit(function(){
		if($("#password").val().length<8 || $("#password").val() != $("#password1").val()) return false;
	    $("#div-msg").attr('class','warningmsg');
	    $("#div-msg").html("<img src='/images/loading.gif'><p class='text-primary'>Please wait...</p>");
	    $.ajax({
			type: "POST",
			url: "/cgi-bin/login_cgi",
			data: $("#form").serialize(),
			dataType: 'json',
			success: function(result){
				if(result.success){
					$("#div_msg").html("");
					window.location="/html/setname";
				}else{
					$("#div-msg").attr('class','errormsg');
					$("#div_msg").html(result.error);
				}
			},
			error: function(){
				$("#div-msg").attr('class','errormsg');
				$("#div-msg").html("Please reconnect your network");
				window.location="/html/setname";
			}
	    });
	    if(via_wifi) alert("<%You are connecting via Wireless, please reconnect%>");

	    return false;
	});

</script>

</body>
</html>


<!-- ** Don't forget to Add jQuery here ** -->
  <script src="/lib/js/config.js"></script>
  <script src="/lib/js/util.js"></script>
  <script src="/lib/js/jquery.emojiarea.js"></script>
  <script src="/lib/js/emoji-picker.js"></script>
        
        
 

    
        
    <style>
    
    body {
        background-image: url("/images/bgx.jpeg");
          background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-position: center;
  background-size: cover;
      margin:0;
  min-height:100vh;
  display:flex;
  align-items:center;
  justify-content:center;
flex-direction: column;
       opacity: 100; filter: alpha(opacity=20); 
      z-index: 0;

}
        
       
    </style>
        
                        
        <script src='/js/materialize.min.js'></script>

    <script  src="/js/sidenav.js"></script>
	<!--   Core JS Files   -->
	<script src="/js/bootstrap.min.js" type="text/javascript"></script>
	<script src="/js/material.min.js"></script>
    <script src="/js/material-kit.js?v=1.1.0" type="text/javascript"></script>

        </div> </body></html>