
<!doctype html>
<html lang="en">
<head>
	<title>Pyramid WiFi</title>
    <meta charset='utf-8'>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

	<!--     Fonts and icons     -->
	<link rel="stylesheet" type="text/css" href="/css/Material+Icons.css" />
	<link rel="stylesheet" href="/css/font-awesome.min.css" />

	<!-- CSS Files -->
    <link href="/css/bootstrap-progress.css" rel="stylesheet" />
    <link href="/css/material-kit.css?v=1.1.0" rel="stylesheet"/>
    
    <!-- Chrome, Firefox OS and Opera -->
<meta name="theme-color" content="#46008C">
<meta content="no-cache"> 
<link rel="shortcut icon" type="image/png" href="/images/favicon.png"/>

    <!-- app icons -->
    <link rel="apple-touch-icon" href="/images/apple-touch-icon57.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/images/apple-touch-icon72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/images/apple-touch-icon114.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/images/apple-touch-icon144.png">
    <script type="text/javascript" src="/js/jquery-1.11.0.min.js" ></script>
	<script type="text/javascript" src="/js/pyramid.js" ></script>
    
   
    

</head>
    

    <header>
    
    
    
    
    </header>
    <body>
        


    
    
<div class="container">
	
	<div id="doingit" style="display:none">
    
    <b><h1 class="text-success">We're on it ✌🏻</h1></b><br><h5>Please allow a few minutes for your device to update and then reconnect.</h5><br><h5> Do not power off or unplug Pyramid during this process.</h5></div>
	
    <div id="coreupdateui">
        
        <div align="center" class="mainbar">
	
	
</div>
<form align="center" id="form-firmware">
<input type="hidden" name="action" value="setautoupdate">
<div align="center" class="subcontent">
	
	<table align="center">
		<tr><td><%You are running firmware version%> </td><td id='current-version'></td></tr>
		
      
			
	</table>
</div>
</form>
<div align="center" class="subcontent" id="div-history">
	
	<div align="center" id="div-firmware-history">

	</div>
</div>

   <div> <button class="btn btn-xs" onclick="window.location.href='/'">Go Back</button> </div>

<div id="overlay"></div>
    
    </div></div>



 <style>
    
    body {

    background-image: url("/images/bgx.jpeg");
          background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-position: center;
  background-size: cover;
      margin:0;
  min-height:100vh;
  display:flex;
  align-items:center;
  justify-content:center;
flex-direction: column;
       opacity: 100; filter: alpha(opacity=20); 
      z-index: 0;
        justify-content: center;
        text-align: center;

}
        
       
    </style>

<script>
$.ajaxSetup({
	cache: false,
	headers: {'X-CSRF-TOKEN':'<%HTTP-X-CSRF-TOKEN%>'}
});

dic["11ng"]="<%static_11n_speed%>";
dic["11ng2"]="<%static_11n2_speed%>";

var mobile=false;

/*Bind event*/
$("#img-internet").click(function(){
	popWanSetting();
});
$("#img-wifi-0").click(function(){
	popWifiSetting();
});
$("#div-internet").click(function(){
	$("#div_main").load("/html/wan_status");
	if(window.history.pushState) window.history.pushState({},null,"index?index&wan_status");
});
$("#div-wifi-0").click(function(){
	$("#div_main").load("/html/wifi_status");
	if(window.history.pushState) window.history.pushState({},null,"index?index&wifi_status");
});
$("#div-port").click(function(){
	$("#div_main").load("/html/port_status");
	if(window.history.pushState) window.history.pushState({},null,"index?index&port_status");
});
$("#div-firmware").click(function(){
	$("#div_main").load("/html/firmware_status");
	if(window.history.pushState) window.history.pushState({},null,"index?index&firmware_status");
});
$("#div-clients").click(function(){
	$("#div_main").load("/html/clients");
	if(window.history.pushState) window.history.pushState({},null,"index?index&clients");
});

$(".div_setting").click(function(){
	$(".indicator").hide();
	$(".indicator1").hide();
	$(this).find(".indicator").show();
	$(".div_setting").removeClass("highlight");
	$(".div_app").removeClass("highlight");
	$(this).addClass("highlight");
});
$(".div_app").click(function(){
	var url=$(this).attr("data-url");
	window.location="/html/index?"+url;
});
function setup_access(){
	$('#div-port').trigger('click');
}
function check_firmware(){
	$("#div-firmware").trigger('click');
}
function change_lanip(){
	$("#div-wifi-0").trigger('click');
	setTimeout(function(){display_lanip()},200);
}
$("[id^='wifi_status']").click(function(e){
	e.stopPropagation();
});

function highlight_app(url){
	var div_app=$(".div_app[data-url='"+url+"']");
	$(div_app).find(".indicator1").show();
	if(url != "index") 	$(".div_app").addClass("dim");
	$(div_app).removeClass("dim");
	$(div_app).addClass("highlight");
}

var checker;
var checker_upnp;
var query=document.URL.split('?')[1];
var page;
if(query && (page=query.match(/[a-z0-9_]*.html/))){
	$("#div_area").load("/html/"+page);
	highlight_app(page);
}else{
	highlight_app("index");
	/*Run once after load*/
	getNetworkStatus();
	getDeviceStatus();
	checkUpnp();
	getClients();
	getFirmwareStatus();
	checkAvailability();

	startChecker();
	checker_upnp=setInterval(function(){
		checkUpnp();
		checkAvailability();
	},60000);
	/*go to subpage*/
	var subpage=document.URL.split('&')[1];
	if(subpage){
		$("#div_main").load("/html/"+subpage);
	}else{
		$("#div_main").load("/html/default")
	}
}

function startChecker(){
	checker=setInterval(function(){
		getNetworkStatus();
		getDeviceStatus();
		getClients();
	},5000);
}
function stopChecker(){
	window.clearInterval(checker);
}

/*Close the popup*/
$("#modal-close").click(function(){
	close_modal();
});
function go_advanced(){
	if(confirm("<%Advanced settings page needs separate login%>. \n\n<%It is for hobbyist and no support will be provided%>. \n\n<%Using improper settings will brick your router%>.")==true) return true;
	else return false;
}
</script>

<script>
	$("#firmware_autoupdate").change(function(){ update_firmware_setting('enable')});
	$("#update_time").change(function(){ update_firmware_setting('time')});
	$("#div-firmware-history").empty();
	$("#button-upload-show").click(function(){show_upload();});
	$("#button-factory-show").click(function(){show_factory();});
	$("#button-revert").click(function(){revert_factory();});
	//check_versions();
	function check_versions(){
		$("#div-firmware-history").html("<img src='/images/loading.gif'><%Checking%>...");
		$.ajax({
			type: "GET",
			url: "/cgi-bin/firmware_cgi?action=checkversions",
			dataType: 'json',
			timeout: 60000,
			success: function(result){
				$("#div-firmware-history").html("");
				$("#current-version").text(result.version);
				for(var i=0;i<result.history.length;i++){
					version_info=result.history[i];
					$("#div-firmware-history").append("<div><%Version%>: "+version_info.version+ (result.has_new && i==0?"</div><br><br><div>" :"") +"</div>");
					$("#div-firmware-history").append(result.has_new && i==0?"<div id='div-download' class='progress-bar hide'><span></span></div>" :"");
					$("#div-firmware-history").append("<div id='div-download-check'><table id='table-download-check'></table></div>");
					$("#div-firmware-history").append("<div>"+version_info.description+"</div>");
				}
			}
		});
	}
	//simplified check version
	check_version();
	function check_version(){
		$("#div-firmware-history").html("<img src='/images/loading.gif'><%Checking%>...");
		$.ajax({
			type: "GET",
			url: "/cgi-bin/firmware_cgi?action=checkversion",
			dataType: 'json',
			timeout: 60000,
			success: function(result){
				$("#div-firmware-history").html("");
				$("#current-version").text(result.version);
				version_new=result.version_new.split("\t");
				$("#div-firmware-history").append("<div><%The latest firmware version is%>: "+version_new[0]+ (result.has_new?"<br><div id='dlbtn'><input type='button' class='btn btn-success' id='updatebtn' onclick='online_upgrade()' value='<%Download Update%>'></div>" :"") +"</div>");
				$("#div-firmware-history").append(result.has_new?"<div id='div-download' class='progress-bar hide'><span></span></div>" :"");
				$("#div-firmware-history").append("<div id='div-download-check'><table id='table-download-check'></table></div>");
			}
		});
	}
	$.ajax({
		type: "GET",
		url: "/cgi-bin/firmware_cgi?action=checkautoupdate",
		dataType: 'json',
		timeout: 60000,
		success: function(result){
			$("#firmware_autoupdate").prop('checked',result.enabled);
			$("#update_time").val(result.time);
		}
	});
	function update_firmware_setting(arg){
		if(arg=='enable'){
			$("#msg-autoupdate").text("<%Updating%>...")
			$("#msg-autoupdate").removeClass('hidden');
		}else if(arg=='time'){
			$("#msg-time").text("Updating...");
			$("#msg-time").removeClass('hidden');
		}
		$.ajax({
			type: "GET",
			url: "/cgi-bin/firmware_cgi",
			data: $("#form-firmware").serialize(),
			dataType: 'json',
			timeout: 60000,
			success: function(result){
				if(arg=='enable'){
					$("#msg-autoupdate").text("Done");
					$("#msg-autoupdate").addClass('hidden');
				}else if(arg=='time'){
					$("#msg-time").text("Done");
					$("#msg-time").addClass('hidden');
				}
			}
		});
	}
	function show_upload(){
		$("#form-firmware").hide();
		$("#div-factory").hide();
		$("#div-history").hide();
		$("#div-upload").show();
		var obj=$("#filedrop");
		obj.on('dragenter',function(e){
			e.stopPropagation();
			e.preventDefault();
		});
		obj.on('dragover', function (e)
		{
			$(this).css('border-color', 'white');
			 e.stopPropagation();
			 e.preventDefault();
		});
		obj.on('dragleave', function (e)
		{
			$(this).css('border-color', 'rgb(160, 175, 160)');
		});
		obj.on('drop', function (e)
		{
			$(this).css('border-color', 'rgb(160, 175, 160)');
			 e.preventDefault();
			 var files = e.originalEvent.dataTransfer.files;

			 //We need to send dropped files to Server
			 handleFileUpload(files,obj);
		});
	}
	function handleFileUpload(files,obj){
		$("#upload-progress").text("");
		var fd=new FormData();
		fd.append('file',files[0]);
		var jqXHR=$.ajax({
            xhr: function() {
				var xhrobj = $.ajaxSettings.xhr();
				if (xhrobj.upload) {
                    xhrobj.upload.addEventListener('progress', function(event) {
                        var percent = 0;
                        var position = event.loaded || event.position;
                        var total = event.total;
                        if (event.lengthComputable) {
                            percent = Math.ceil(position / total * 100);
                        }
                        $("#upload-progress").css('width',percent +"%");
                        $("#upload-progress").css('background','green');
                        $("#upload-progress").text(percent+"%")
                        if(percent>=100)$("#upload-progress").text("Processing ...");
                    }, false);
				}
				return xhrobj;
			},
			url: "/cgi-bin/firmware_cgi",
			type: "POST",
			contentType:false,
			processData: false,
			cache: false,
			data: fd,
			success: function(data){
				$("#upload-progress").text(files[0].name +" <%successfully uploaded%>");
				verify_firmware('upload');
			}
		});
	}
	$("#filedrop").click(function(){
		$("#firmware-upload-file").click();

	});
	$("#firmware-upload-file").change(function(e){
		if(this.files.length>0)
			handleFileUpload(this.files,null);
	});
	function online_upgrade(){
		$("#div-download-check").nextAll().remove();
		$.ajax({
			type: "GET",
			url: "/cgi-bin/firmware_cgi?action=download",
			dataType: 'json',
			success: function(result){
				if(result.success){
					$("#div-download").show();
					check_download_status();
				}else{
					$("#div-download-check").after("<div class='msg2'><%Cannot download%></div>");
				}
			},
			error: function(e,result){
				$("#div-download-check").after("<div class='msg2'><%Unkown error%></div>");
			}
		});
	}
	function check_download_status(){
		$.ajax({
			type: "GET",
			url: "/cgi-bin/firmware_cgi?action=downloadstatus",
			dataType: 'json',
			success: function(result){
				if(result.downloading){
					//downloading
					$("#div-download").show();
					var progress=Math.round(result.percent*100);
					if(progress>100) progress=100;
					$("#div-download span").css("width",progress+"%");
					$("#div-download span").text(progress + "%");
					var t=setTimeout(check_download_status(),2000);
				}
				else if(result.completed){
					$("#div-download span").css("width","100%");
					$("#div-download span").text("<%Firmware downloaded%>");
					verify_firmware('download');
				}
				else{
					//nothing happen
				}
			}
		});
	}

	function verify_firmware(e){
		var table;
		if(e=='upload') {
			table=$("#table-upload-check")[0];
		}else {
			table=$("#table-download-check")[0];
		}
		$(table).html("<tr><td><img src='/images/loading.gif'><%Checking%>...</td></tr>");
	    $.ajax({
			type : 'GET',
			dataType : 'json',
			url : "/cgi-bin/firmware_cgi?action=checkfirmware",
			success : function(result){
				$(table).html("");
				if(! result.file_exist){
					$(table).html("<tr><td><%Cannot upload file, not enought memory%>!</td></tr>");
					return;
				}
				if(! result.size_ok){
					$(table).html("<tr><td><%Firmware too big%>!</td></tr>");
					return;
				}
				if(! result.supported){
					$(table).append("<tr><td><%Verification result%></td><td><font color=red><%Error: Firmware is not for this hardware.%></font></td></tr>");
				}else{
						$(table).append("<tr><td>Verification result</td><td> Pass</td></tr>");
					$(table).append("<tr><td><div style='display:none><label for='firmware-keep'>Keep settings</label></td><td><form id='form-verify' method='post'><input type='hidden' name='action' value='flash'> <input id='firmware-keep' name='keep' type='checkbox' checked></div></form></td></tr>");
					$(table).append("<tr><td></td><td><input class='btn btn-success' id='submit_flash' name='submit' type='button' value='Install Update' onclick='upgrade();'></td></tr>");
				}
			}
	    });
	}
	function show_factory(){
		$("#form-firmware").hide();
		$("#div-upload").hide();
		$("#div-history").hide();
		$("#div-factory").show();
	}
	function revert_factory(){
		$.ajax({
			type: "GET",
			url: "/cgi-bin/router_cgi?action=factorydefault",
			dataType: 'json',
			timeout: 60000,
			success: function(result){
				if(result.success){
					show_reboot_progress("<%Reverted to factory default setting. Rebooting%> ...");
				}else{
					$("#div_factory_msg").html(result.error);
				}
			},
			error: function(){
				window.location.reload();
			}
	    });
	}
	function upgrade(){
		$.ajax({
			type: "POST",
			url: "/cgi-bin/firmware_cgi",
			data: $("#form-verify").serialize(),
			dataType: 'json',
			success: function(result){
				if(result.success){
					TotalTime=180000; //3 minutes
					$("#coreupdateui").hide();
                    $("#doingit").show();
				}else{

				}
			}
	    });
		return false;
	}

</script>

