<div id="app-cloud" class="app-container">
	<div class="app-title">

	</div>
	<div class="toolbar">
		<div class="control_pannel">
			<span style="width:70%;">
				<form id="form_upnpd">
					<input type="hidden" name="action" value="set">
					<input type="hidden" name="software" value="upnpd">

						<div class="div-config">
							<div id="cbi-upnp">
								<label for="enable_upnpd"><%Enable%></label>
								<div >
									<input  type="checkbox" id="enable_upnpd" name="enable_upnpd">
									<label style="margin-left:10px;"  for="enable_upnpd"><%Check this to start UPnP service%></label>
								</div>
							</div>
						</div>
						<input id="submit_upnpd" class="submit-app" type="button" value="<%Apply%>" class="button">
				</form>
			</span>
		</div>
	</div>
	<div>
		<div class="app-title"><%Active redirects%></div>
		<table id="active_upnp" class="table-center">
			<tr><td>ID</td><td><%Protocol%></td><td><%External Port%></td><td><%Internal Address%></td><td><%Internal Port%></td></tr>
		</table>
	</div>
</div>
<script>
get_upnpd_status();

function get_upnpd_status(){
	$.ajax({
		type : 'GET',
		dataType: 'json',
		url: "/cgi-bin/software_cgi?action=get&software=upnpd",
		success: function(result){
			if(result.success){
				$("#enable_upnpd").prop('checked',result.upnpd_enabled);
				for(var i=0;i<result.actions.length;i++){
					action=result.actions[i];
					s=String.format("<tr><td>{0}</td><td>{1}</td><td>{2}</td><td>{3}</td><td>{4}</td></tr>",i,action.proto, action.extport, action.intaddr, action.intport);
					$("#active_upnp tr:last").after(s);
				}
			}
			else{
				window.location="/html";
			}
		}
	});
}
$("#submit_upnpd").click(function(){
	$("#software_msg").text("Updating...");
	$.ajax({
		type : 'POST',
		dataType: 'json',
		url: "/cgi-bin/software_cgi",
		data: $("#form_upnpd").serialize(),
		success: function(result){
			$("#software_msg").text("UPnP service updated");
			window.location.reload();
		}
	});
});
</script>
