<div id="app-vpn" class="app-container">
    <div id="div-vpn-siddebar" class="page-sidebar">
        <ul class="list-entry">
            <li><a id="show-openvpn-client" href="javascript: show_openvpn_client();"><%OpenVPN Client%></a></li>
            <li><a id="show-vpn-client" href="javascript: show_vpn_client();"><%PPTP Client%></a></li>
            <li style="display:none"><a id="show-ss-client" href="javascript: show_ss_client();"><%SS Client%></a></li>
            <li style="display:none"><a id="show-server" href="javascript: show_server();"><%OpenVPN Server%></a></li>
        </ul>
    </div>
    <div id="div-vpn-main" class="page-content">
        <div id="div-openvpn-client">
            <div class="subcontent" id="div-openvpn-client-settings">
                <div ><label>Settings</label></div>
                <div class="" id="div-openvpn-client-settings">
                    <form id="form-ovpn">
                        <input type="hidden" id="openvpn-action" name="action" value="">
                    <table style="width:100%">
                        <tr>
                            <td><label for="openvpn-client-enabled">Enable</label></td>
                            <td><input type="checkbox" id="openvpn-client-enabled" name="openvpn-client-enabled"></td>
                        </tr>
                        <tr id="tr-forceovpn" style="display:none">
                            <td><label for="openvpn-client-force"><%Force VPN%></label></td>
                            <td><input type="checkbox" id="openvpn-client-force" name="openvpn-client-force" checked><label for="openvpn-client-force"><%No Internet if VPN is not connected%></label></td>
                        </tr>
                        <tr>
                            <td><label><%Config File%></label></td>
                            <td><select class="select1" name="ovpn-filename" id="ovpn-filename"></select></td>
                        </tr>
                        <tr>
                            <td></td><td>
                            <input type="button" id="submit-ovpn" value="Apply">
                            <input type="button" value="<%Upload New%>" onclick="show_upload_ovpn();">
                            <input type="button" value="<%Management%>" onclick="show_clientManager();">
                            </td>
                        </tr>
                    </table>
                    </form>
                </div>
            </div>
            <div class="subcontent" id="div-openvpn-client-status">
                <div><label>Status</label></div>
                <div id="div-openvpn-client-status-main"></div>
            </div>
            <div class="subcontent" id="div-vpn-upload" style="display:none">
                <div><label><%Upload ovpn%></label></div>
                <div>
                    <label for="ovpn-upload-file"></label>
                    <input type="file" id="ovpn-upload-file" name="file" style="display:none" data-url="/cgi-bin/openvpn_cgi">
                </div>
                <div class="drop" id="filedrop">
                    <span id="upload-progress"><%Click here to select files or drag and drop your file here: .ovpn .zip .tar.gz%></span>
                </div>
                <div id="div-upload-check">
                    <table id="table-upload-check">

                    </table>
                </div>
            </div>
        </div>
        <div id="div-vpn-ovpn-manager">
            <div class="subcontent" id="div-openvpn-client-manager">
                <div ><label>Ovpn configuration files</label>

                </div>
                <div class="" id="div-openvpn-client-list">
                    <input type="button" value="Purge" onclick="purge_ovpn();">
                    <table id='table-ovpn-manager'>
                        <tr><td></td><td>#</td><td>Name</td><td>Auth</td><td>Server status</td></tr>
                    </table>
                </div>
            </div>
        </div>
		<div id="div-vpn-client" style="display:none">
            <div class="subcontent" id="div-vpn-client-settings">
                <div ><label>Settings</label></div>
                <div class="" id="div-vpn-client-settings">
                    <form id="form-vpn">
                        <input type="hidden" id="vpn-action" name="action" value="">
                    <table style="width:100%">
                        <tr>
                            <td><label for="vpn-client-enabled">Enable</label></td>
                            <td><input type="checkbox" id="vpn-client-enabled" name="enable"></td>
                        </tr>
                        <tr id="tr-forcevpn" style="display:none">
                            <td><label for="vpn-client-force"><%Force VPN%></label></td>
                            <td><input type="checkbox" id="vpn-client-force" name="force" checked><label for="vpn-client-force"><%No Internet if VPN is not connected%></label></td>
                        </tr>
                        <tr>
                            <td><label><%Config Server%></label></td>
                            <td><select class="select1" name="vpn-config" id="vpn-config"></select></td>
                        </tr>
                        <tr>
                            <td></td><td>
                            <input type="button" id="submit-vpn" value="Apply">
                            <input type="button" value="<%Add New%>" onclick="show_add_vpn();">
                            <input type="button" value="<%Management%>" onclick="show_vpn_list();">
                            </td>
                        </tr>
                    </table>
                    </form>
                </div>
            </div>
            <div class="subcontent" id="div-vpn-client-status">
                <div><label><%Status%></label></div>
                <div id="div-vpn-client-status-main"></div>
            </div>
            <div class="subcontent" id="div-vpn-new" style="display:none">
				<div><label><%Add New VPN Client%></label></div>
				<form id="form-vpn-new">
					<input type="hidden" name="action" value="add">
					<table style="width:100%">
					<tr>
						<td><label for="vpn-proto"><%Protocol%></label></td>
						<td><select id="vpn-proto" name="proto">
							<option value="pptp">PPtP</option>
						</select></td>
					</tr>
					<tr>
						<td><label for="vpn-server"><%Server%></label></td>
						<td><input type="text" id="vpn-server" name="server"></td>
					</tr>
					<tr>
						<td><label for="vpn-username"><%Username%></label></td>
						<td><input type="text" id="vpn-username" name="username"></td>
					</tr>
					<tr>
						<td><label for="vpn-password"><%Password%></label></td>
						<td><input type="text" id="vpn-password" name="password"></td>
					</tr>
					<tr>
						<td colspan=2 id="div-vpn-check"></td>
					</tr>
					<tr>
						<td><label ></label></td>
						<td><input type="button" id="vpn-add" value="<%Add%>"></td>

					</tr>
					</table>
                </form>

            </div>
        </div>
        <div id="div-vpn-client-list" style="display:none">
            <div class="subcontent" id="div-vpn-client-list">
                <div ><label>PPTP/L2TP Client Configs</label>

                </div>
                <div class="" id="div-vpn-client-list">
                    <input type="button" value="Purge" onclick="purge_vpn_list();">
                    <table id='table-vpn-client-list'>
                        <tr><td></td><td>#</td><td>Server</td><td>Protocol</td><td>Username</td><td>Password</td></tr>
                    </table>
                </div>
            </div>
        </div>
        <div id="div-vpn-server">
            Coming later.
        </div>
    </div>
</div>

<script>
var section=window.location.href.split("&")[1];
var auto_section=false;
var othervpn_enabled=false;
var first_time_show_vpn_status=1;
var first_time_show_openvpn_status=1;
var status_timer;
switch(section){
    case "ovpn-client":
        show_openvpn_client();
        break;
    case "vpn-client":
        show_vpn_client();
        break;
    case "vpn-list":
        show_vpn_list();
        break;
    case "ss-client":
        show_ss_client();
        break;
    case "server":
        show_server();
        break;
    case "ovpn":
        show_clientManager();
        break;
    default :
		auto_section=true;
        show_openvpn_client();
}
$("#vpn-add").click(function(){
	$.ajax({
        type : 'POST',
        data: $("#form-vpn-new").serialize(),
        dataType : 'json',
        url : "/cgi-bin/vpn_cgi"
    })
    .done(function(result){
            if(result.success){
				location.reload();
            }else{

            }
        })
    .fail(function(result){
        console.log("add new config failed");
    });
});
$("#openvpn-client-enabled").change(function(){
    if(this.checked) $("#tr-forceovpn").show();
    else $("#tr-forceovpn").hide();
});
$("#vpn-client-enabled").change(function(){
    if(this.checked) $("#tr-forcevpn").show();
    else $("#tr-forcevpn").hide();
});
function show_vpn_client(){
	first_time_show_vpn_status=1;
	$(".list-entry li a").css("color","#41E7ED");
	$("#show-vpn-client").css("color","white");
	if(window.history.pushState) window.history.pushState({},null,"index?vpn.html&vpn-client");
	$("#div-vpn-ovpn-manager").hide();
    $("#div-vpn-server").hide();
    $("#div-openvpn-client").hide();
    $("#div-vpn-client").show();
    $("#div-vpn-client-list").hide();
    $.getJSON("/cgi-bin/vpn_cgi?action=list",function(result){
		if(!result.success) return;
		$("#vpn-config").empty();
		var vpns=result.vpns;
		if(vpns.length==0){
			$("#div-vpn-client-settings").html("<h2><%You don't have any VPN settings. Please add one%>.</h2>");
			$("#div-vpn-client-status").hide();
			$("#div-vpn-new").show();
		}
		for(var i=0;i<vpns.length;i++){
			var vpn=vpns[i];
			var section_name=vpn.section_name;
			var name=vpn.name;
			$("#vpn-config").append("<option value='"+section_name+"'>"+name.toUpperCase()+"</option>");
		}
	});
	show_vpn_status();
	clearInterval(status_timer);
    status_timer=setInterval(function(){show_vpn_status();}, 5000);
}
function show_ss_client(){
	$("#show-ss-client").css("color","white");
	if(window.history.pushState) window.history.pushState({},null,"index?vpn.html&ss-client");
	$("#div-vpn-ovpn-manager").hide();
    $("#div-vpn-server").hide();
    $("#div-openvpn-client").hide();
    $("#div-vpn-client").hide();
    $("#div-vpn-client-list").hide();
    $("#div-ss-client").show();
}
function show_vpn_list(){
	$("#show-vpn-client").css("color","white");
	if(window.history.pushState) window.history.pushState({},null,"index?vpn.html&vpn-client");
	$("#div-vpn-ovpn-manager").hide();
    $("#div-vpn-server").hide();
    $("#div-openvpn-client").hide();
    $("#div-vpn-client").hide();
    $("#div-vpn-client-list").show();
    $("#table-vpn-client-list").empty();
    $.ajax({
        type : 'GET',
        dataType : 'json',
        url : "/cgi-bin/vpn_cgi?action=list_detail",
        success : function(result){
            var list = result.vpns;
            if(list.length==0){
                $("#div-vpn-client-list").html("<%Cannot find any VPN configurations%>.");
                return;
            }
            $("#table-vpn-client-list").html("<tr><td></td><td>#</td><td>Server</td><td>Protocol</td><td>Username</td><td></td></tr>");
            for(var i in list){
                $("#table-vpn-client-list").append("<tr><td></td><td style='padding:2px'>"+(Number(i)+1)+"</td><td style='padding:2px'>"+list[i].server+"</td><td style='padding:2px'>"+list[i].proto+"</td><td style='padding:2px'>"+list[i].username+"</td><td style='padding:2px'></td><td></td></tr>");
            }

        }
    });
}
function show_add_vpn(){
	$("#div-vpn-client-status").hide();
	$("#div-vpn-new").show();
}
function show_openvpn_client(){
	first_time_show_openvpn_status=1;
	$(".list-entry li a").css("color","#41E7ED");
    $("#show-openvpn-client").css("color","white");
    if(window.history.pushState) window.history.pushState({},null,"index?vpn.html&ovpn-client");
    $("#div-openvpn-client").show();
    $("#div-vpn-server").hide();
    $("#div-vpn-ovpn-manager").hide();
    $("#div-vpn-client").hide();
    $("#div-vpn-client-list").hide();
    load_ovpn_list();
    show_openvpn_status();
    clearInterval(status_timer);
    status_timer=setInterval(function(){show_openvpn_status();}, 5000);
}
function show_clientManager(){
    $("#show-clientManager").css("color","white");
    if(window.history.pushState) window.history.pushState({},null,"index?vpn.html&ovpn");
    $("#div-vpn-ovpn-manager").show();
    $("#div-vpn-server").hide();
    $("#div-openvpn-client").hide();
    $("#div-vpn-client-client").hide();
    load_ovpn_manager();
}

function show_server(){
    $("#show-server").css("color","white");
    if(window.history.pushState) window.history.pushState({},null,"index?vpn.html&server");
    $("#div-openvpn-client").hide();
    $("#div-vpn-ovpn-manager").hide();
    $("#div-vpn-server").show();
    $("#div-vpn-client-client").hide();
}
$("#filedrop").click(function(){
    $("#ovpn-upload-file").click();

});
$("#ovpn-upload-file").change(function(e){
    if(this.files.length>0)
        handleFileUpload(this.files,null);
});

function handleFileUpload(files,obj){
    $("#upload-progress").text("");
    var fd=new FormData();
    fd.append('file',files[0]);

    var jqXHR=$.ajax({
        xhr: function() {
            var xhrobj = $.ajaxSettings.xhr();
            if (xhrobj.upload) {
                xhrobj.upload.addEventListener('progress', function(event) {
                    var percent = 0;
                    var position = event.loaded || event.position;
                    var total = event.total;
                    if (event.lengthComputable) {
                        percent = Math.ceil(position / total * 100);
                    }
                    $("#upload-progress").css('width',percent +"%");
                    $("#upload-progress").css('background','green');
                    $("#upload-progress").text(percent+"%")
                    if(percent>=100)$("#upload-progress").text("Processing ...");
                }, false);
            }
            return xhrobj;
        },
        url: "/cgi-bin/openvpn_cgi",
        type: "POST",
        contentType:false,
        processData: false,
        cache: false,
        data: fd,
        success: function(data){
            $("#upload-progress").text(files[0].name +" <%successfully uploaded%>");
            verify_ovpn('upload');
        },
        error: function(xh, status, error){
			console.log("we got an error message "+xh.responseText);

		}
    });
}
function verify_ovpn(e){
    var table;
    if(e=='upload') {
        table=$("#table-upload-check")[0];
    }else {
        table=$("#table-download-check")[0];
    }
    $(table).html("<tr><td><img src='/images/loading.gif'><%Checking%>...</td></tr>");
    $.ajax({
        type : 'GET',
        dataType : 'json',
        url : "/cgi-bin/openvpn_cgi?action=check_config",
        success : function(result){
            $(table).html("");
            var ovpn = result.ovpn;//array
            var failed= result.failed;
            var needauth=result.needauth;
            var needinfo=result.needinfo;

            if(ovpn.length==0 && Object.keys(needauth).length==0 && Object.keys(needinfo).length==0){
                $(table).html("<tr><td><%Cannot find correct ovpn files%>!</td></tr>");
                return;
            }
            for(var i in ovpn){
                $(table).append("<tr><td><%Imported%></td><td>"+ovpn[i]+"</td></tr>");
            }
            var need_private_key_pass;
            var need_auth;
            for(var key in needauth){
				need_private_key_pass=needauth[key].includes("need_private_key_pass");
				need_auth=needauth[key].includes("need_auth");
                $(table).append("<tr><td><a href='javascript:prompt_user_pass("+need_auth+","+need_private_key_pass+");'><font color=red>Need "+(need_auth?"username,password ":" ")+(need_private_key_pass?" private key passphrase":"")+"</font></a></td><td>"+key+"</td></tr>");
            }
            for(var key in needinfo){
                $(table).append("<tr><td><font color=blue><%need ca, cert, crl or key%></font></td><td>"+key+"</td></tr>");
            }
            for(var key in failed){
                $(table).append("<tr><td><%Not a valid ovpn%></td><td>"+key+"</td></tr>");
            }
            if (Object.keys(needinfo).length>0){
                alert("You need to put your ca, key, crl and cert in the same zip file and upload");
            }else if (Object.keys(needauth).length>0){
                prompt_user_pass(need_auth,need_private_key_pass);
            }
        }
    });
}

/*Show popup for username and password*/
function prompt_user_pass(need_auth, need_private_key_pass){
    var area=$("#table-upload-check").offset();
    $("#modal").css({top: area.top, left: area.left, width: "20px", height: "10px"});
    $("#modal").show("fast", function(){
		$("#model_content").hide();
		$("#modal").attr("class","modal open");
		$("#modal").removeAttr("style");
		$("#overlay").show();
		var html;
		html="<div class='pop_title'>VPN Authentication</div>";
		if(need_auth && need_private_key_pass){
			$("#modal").css({height: "400px"});
			html = html+ "<div class='pop_main tab_content' style='display:inline-block;position:relative;color:#207087;min-height:270px;height:270px'>";
		}else{
			html = html+ "<div class='pop_main tab_content' style='display:inline-block;position:relative;color:#207087;min-height:170px;height:170px'>";
		}

		html = html + "<form id='form-user-pass'><input type='hidden' name='action' value='set_user_pass'>";
		if(need_auth){
			html = html+ "<div style='padding:10px;'>Some of your ovpn files need a username and password, please type your username and password here. This will be applied to all these files.</div>";
			html = html+ "<div><label><%Username%></label><input id='ovpn-username' name='username' type='text'><span title='<%Required%>'></span></div>";
			html = html+ "<div><label><%Password%></label><input id='ovpn-password' name='password' type='text'><span title='<%Required%>'></span></div>";
		}
		if(need_private_key_pass){
			html = html+ "<div style='padding:10px;'>Some of your ovpn files contain private keys which need a passphrase, please type your passphrase. This will be applied to all these files.</div>";
			html = html+ "<div><label><%Private key Passphrase%></label><input id='ovpn-passphrase' name='passphrase' type='text'><span title='<%Required%>'></span></div>";
		}

		html = html+ "</form></div>";
		html = html+ "<div class='div_submit'><input id='submit_user_pass' class='button_submit' value='Submit' type='submit' onclick='javascript:submit_user_pass();'></div><div id='div-msg' class='errormsg'></div>";
		setTimeout(function(){
			$("#model_content").show();
			$("#model_content").html(html);
		},500);
		//$("#model").css("height","300px");
	});
}
function submit_user_pass(){
    $("#div-msg").text("Please wait ...");
    $.ajax({
        type : 'POST',
        data: $("#form-user-pass").serialize(),
        dataType : 'json',
        url : "/cgi-bin/openvpn_cgi"
    })
    .done(function(result){
            if(result.ovpn.length>0){
                $("#div-msg").text("Update successs");
                close_modal();
                location.reload();
            }else{
                $("#div-msg").text("Update failed");
            }
        })
    .fail(function(result){
        console.log("set user pass failed");
    });
}
function load_ovpn_list(){
    $("#ovpn-filename").empty();
    $.ajax({
        type : 'GET',
        dataType : 'json',
        url : "/cgi-bin/openvpn_cgi?action=get_client_ovpn",
        success : function(result){
            var list = result.ovpn.sort();
            var current=result.current.split("/").pop();
            if(list.length==0){
                $("#div-openvpn-client-settings").html("<h2><%Cannot find any ovpn file. Please upload one.%></h2>");
                show_upload_ovpn();
                return;
            }
            for(var i in list){
                $("#ovpn-filename").append("<option>"+list[i]+"</option>");
            }
            $("#ovpn-filename").val(current);
        }
    });
}


function load_ovpn_manager(){
    $("#table-ovpn-manager").empty();
    $.ajax({
        type : 'GET',
        dataType : 'json',
        url : "/cgi-bin/openvpn_cgi?action=get_client_ovpn_manager",
        success : function(result){
            var list = result.ovpn.sort(function(a,b){return a.ovpn >b.ovpn});
            var current=result.current.split("/").pop();
            if(list.length==0){
                $("#div-openvpn-client-list").html("<%Cannot find any ovpn file. Please upload one.%>");
                return;
            }
            $("#table-ovpn-manager").html("<tr><td></td><td>#</td><td>Name</td><td>Server IP</td><td></td></tr>");
            for(var i in list){
                $("#table-ovpn-manager").append("<tr><td>"+ (current==list[i].ovpn? '*':'') +"</td><td style='padding:2px'>"+(Number(i)+1)+"</td><td style='padding:2px'>"+list[i].ovpn+"</td><td style='padding:2px'>"+list[i].ip+":"+list[i].port+"</td><td></td></tr>");
            }

        }
    });
}

function show_vpn_status(){
	$.ajax({
		type : 'GET',
		dataType : 'json',
		url : "/cgi-bin/vpn_cgi?action=get_status",
		success : function(result){
			if(! result.success && result.error=="You have not logged in") location.href="/index.html";
			var enabled=result.enabled;
            var proto = result.proto;
            var force = result.force;
            var status=result.status;
            othervpn_enabled=result.othervpn_enabled;
            if(first_time_show_vpn_status == 1){
				first_time_show_vpn_status=0;
				 if (enabled){
                    $("#vpn-client-enabled").prop('checked', true);
                    $("#tr-forcevpn").show();
                }else{
                    $("#vpn-client-enabled").prop('checked', false);
                    $("#tr-forcevpn").hide();
                    //$("#openvpn-client-force").prop('disabled', true);
                }
                if (force){
                    $("#vpn-client-force").prop('checked', true);
                }else{
                    $("#vpn-client-force").prop('checked', false);
                }
			}
			var html="<table>";
            if(status=="on"){
                html = html + "<tr><td>VPN is </td><td>started, not yet connected</td></tr>";
            }else if(status=="off"){
                html = html + "<tr><td>VPN is </td><td>not started</td></tr>";
                if(enabled) html = html + "<tr><td style='white-space:pre-wrap;'>Last log </td><td>"+result.error+"</td></tr>";
            }else if(status=="connecting"){
                html = html + "<tr><td>VPN is </td><td>connecting ...</td></tr>";
                html = html + "<tr><td>Last log </td><td style='white-space:pre-wrap;'>"+result.error+"</td></tr>";
            }else if(status=="connected"){
                html = html + "<tr><td>VPN is </td><td> connected</td></tr>";
                data=result.data;
                var sent="";
                var received="";
                if(data.tx_bytes>=1024*1024*1024){
                    sent= parseFloat(data.tx_bytes/1024/1024/1024).toFixed(2) + " G";
                }else if (data.tx_bytes>1024*1024){
                    sent= parseFloat(data.tx_bytes/1024/1024).toFixed(2) + " M";
                }else if (data.tx_bytes>1024){
                    sent= parseFloat(data.tx_bytes/1024).toFixed(2) + " K";
                }else{
                    sent= data.tx_bytes + " Byte";
                }

                if(data.rx_bytes>=1024*1024*1024){
                    received= parseFloat(data.rx_bytes/1024/1024/1024).toFixed(2) + " G";
                }else if (data.rx_bytes>1024*1024){
                    received= parseFloat(data.rx_bytes/1024/1024).toFixed(2) + " M";
                }else if (data.rx_bytes>1024){
                    received= parseFloat(data.rx_bytes/1024).toFixed(2) + " K";
                }else{
                    received= data.rx_bytes + " Byte";
                }

                html = html + "<tr><td>IP Address: </td><td>"+data.ipaddr+"</td></tr>";
                html = html + "<tr><td>Data received: </td><td>"+received+"</td></tr>";
                html = html + "<tr><td>Data sent: </td><td>"+sent+"</td></tr>";

            }else{

            }
            if(enabled &&  !result.custom_dns){
				html = html + "<tr><td colspan=2 style='color:yellow;'>Please setup <a style='color:blue' href='/html/index?index&wan_status&dns'>custom DNS</a> to prevent DNS leaks</td></tr>";
			}
            html = html + "</table>";

            $("#div-vpn-client-status-main").html(html);

		}
	});
}

function show_openvpn_status(){
    $.ajax({
        type : 'GET',
        dataType : 'json',
        url : "/cgi-bin/openvpn_cgi?action=get_status",
        success : function(result){
            if(! result.success && result.error=="You have not logged in") location.href="/index.html";
            var installed=result.installed;
            var enabled=result.enabled;
            var mode = result.mode;
            var force = result.force;
            othervpn_enabled=result.othervpn_enabled;
            //var config = result.config.split("/").pop();
            var status = result.status;

            if(!enabled && result.othervpn_enabled && auto_section){
				show_vpn_client();
			}

            if(first_time_show_openvpn_status==1){
                if (installed && enabled){
                    $("#openvpn-client-enabled").prop('checked', true);
                    $("#tr-forceovpn").show();
                }else{
                    $("#openvpn-client-enabled").prop('checked', false);
                    $("#tr-forceovpn").hide();
                    //$("#openvpn-client-force").prop('disabled', true);
                }
                if (force){
                    $("#openvpn-client-force").prop('checked', true);
                }else{
                    $("#openvpn-client-force").prop('checked', false);
                }
            }
            first_time_show_openvpn_status=0;
            var html="<table>";
            if(status=="on"){
                html = html + "<tr><td>OpenVpn is </td><td>started, not yet connected</td></tr>";
            }else if(status=="off"){
                html = html + "<tr><td>OpenVpn is </td><td>not started</td></tr>";
                if(enabled) html = html + "<tr><td style='white-space:pre-wrap;'>Last log </td><td>"+result.error+"</td></tr>";
            }else if(status=="connecting"){
                html = html + "<tr><td>OpenVpn is </td><td>connecting ...</td></tr>";
                html = html + "<tr><td>Last log </td><td style='white-space:pre-wrap;'>"+result.error+"</td></tr>";
            }else if(status=="connected"){
                html = html + "<tr><td>OpenVpn is </td><td> connected</td></tr>";
                data=result.data;
                var sent="";
                var received="";
                if(data.tx_bytes>=1024*1024*1024){
                    sent= parseFloat(data.tx_bytes/1024/1024/1024).toFixed(2) + " G";
                }else if (data.tx_bytes>1024*1024){
                    sent= parseFloat(data.tx_bytes/1024/1024).toFixed(2) + " M";
                }else if (data.tx_bytes>1024){
                    sent= parseFloat(data.tx_bytes/1024).toFixed(2) + " K";
                }else{
                    sent= data.tx_bytes + " Byte";
                }

                if(data.rx_bytes>=1024*1024*1024){
                    received= parseFloat(data.rx_bytes/1024/1024/1024).toFixed(2) + " G";
                }else if (data.rx_bytes>1024*1024){
                    received= parseFloat(data.rx_bytes/1024/1024).toFixed(2) + " M";
                }else if (data.rx_bytes>1024){
                    received= parseFloat(data.rx_bytes/1024).toFixed(2) + " K";
                }else{
                    received= data.rx_bytes + " Byte";
                }

                html = html + "<tr><td>IP Address: </td><td>"+data.ipaddr+"</td></tr>";
                html = html + "<tr><td>Data received: </td><td>"+received+"</td></tr>";
                html = html + "<tr><td>Data sent: </td><td>"+sent+"</td></tr>";

            }else{

            }

            if(enabled && !result.custom_dns){
				html = html + "<tr><td colspan=2 style='color:yellow;'>Please setup <a style='color:blue' href='/html/index?index&wan_status&dns'>custom DNS</a> to prevent DNS leaks</td></tr>";
			}

            html = html + "</table>";
            $("#div-openvpn-client-status-main").html(html);

        }
    });
}
$("#submit-ovpn").off('click').on('click',function(){
	if(othervpn_enabled && $("#openvpn-client-enabled").prop('checked') ) {
		alert("<%You have to disable other VPN connection first%>.");
		return false;
	}
    $("#openvpn-action").val("set_config");
    $("#div-openvpn-client-status-main").html("Please wait ...");
    $.ajax({
        type : 'POST',
        dataType : 'json',
        data: $("#form-ovpn").serialize(),
        url : "/cgi-bin/openvpn_cgi",
        success : function(result){
            if(result.success=='1')
                location.reload();
            else
                $("#div-msg").txt("Error: No ovpn file is updated");
        }
    });
});
$("#submit-vpn").off('click').on('click',function(){
	if(othervpn_enabled && $("#vpn-client-enabled").prop('checked')) {
		alert("<%You have to disable other VPN connection first%>.");
		return false;
	}
	 $("#vpn-action").val("set");
    $("#div-vpn-client-status-main").html("Please wait ...");
     $.ajax({
        type : 'POST',
        dataType : 'json',
        data: $("#form-vpn").serialize(),
        url : "/cgi-bin/vpn_cgi",
        success : function(result){
            if(result.success=='1')
                location.reload();
            else
                $("#div-vpn-client-status-main").txt("Error: No vpn is updated");
        },
        error: function(xh, status, error){
			console.log("we got an error message "+xh.responseText);
		}
    });
});
function purge_ovpn(){
    var r=confirm("This will delete all your client ovpn files. Confirm?");
    if (r==false) return;
    $.get("/cgi-bin/openvpn_cgi?action=purge_ovpn",function(data){
        if(data.success){
            location.reload();
        }else{
            alert("Action failed");
        }
    })
    .fail(function(){
        alert("Cannot connect server");
    });
}
function purge_vpn_list(){
	var r=confirm("This will delete all your client ovpn files. Confirm?");
    if (r==false) return;
    $.get("/cgi-bin/vpn_cgi?action=purge",function(data){
        if(data.success){
            location.reload();
        }else{
            alert("Action failed");
        }
    })
    .fail(function(){
        alert("Cannot connect server");
    });
}
function show_upload_ovpn(){
    $("#div-openvpn-client-status").hide();
    $("#div-vpn-upload").show();
    var obj=$("#filedrop");
    obj.on('dragenter',function(e){
        e.stopPropagation();
        e.preventDefault();
    });
    obj.on('dragover', function (e)
    {
        $(this).css('border-color', 'white');
         e.stopPropagation();
         e.preventDefault();
    });
    obj.on('dragleave', function (e)
    {
        $(this).css('border-color', 'rgb(160, 175, 160)');
    });
    obj.on('drop', function (e)
    {
        $(this).css('border-color', 'rgb(160, 175, 160)');
         e.preventDefault();
         var files = e.originalEvent.dataTransfer.files;

         //We need to send dropped files to Server
         handleFileUpload(files,obj);
    });
}

$(".list-entry li a").off('click').on('click',function (){
	auto_section=false;
    $(".list-entry li a").css("color","#41E7ED");
    $(this).css("color","white");
});
</script>

