
<!DOCTYPE HTML>
<html lang="en" prefix="og: http://ogp.me/ns#">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="initial-scale=1.0; maximum-scale=3.0; width=device-width">
	<title>GL.iNet</title>
	<link rel="profile" href="http://gmpg.org/xfn/11">
	<link rel="stylesheet" type="text/css" href="/css/gl1.css?ver=20140514">
	<link rel="stylesheet" href="/css/hint.min.css">
	<script type="text/javascript" src="/js/jquery-1.11.0.min.js" ></script>
	<script type="text/javascript" src="/js/gl.js?ver=20170605"></script>
</head>
<body>

<div class="container">
	<div class="header">
        
        <script src="/js/jquery.dd.min.js" type="text/javascript"></script>
<link rel="stylesheet" type="text/css" href="/css/dd.css?ver=1.0" />
<div class="pop_title"><%Internet Settings%></div>
<div class="pop_tab">
    <div class="tab" style="display:none">
        <input type="radio" id="tab-1" name="wan-mode" value="cable" checked>
        <label class="label_right" for="tab-1" id="tab-label-1"><%Cable%></label>
        <div class="tab_separator"></div>
        <div class="tab_content">
            <form id="form-wan-cable">
                <input type="hidden" name="action" value="updatewan">
                <div>
                    <label><%Protocol%></label>
                    <select id="wan-proto" class="select1" name="wan-proto" required>
                        <option value="dhcp"><%DHCP%></option>
                        <option value="pppoe">PPPoE</option>
                        <option value="static"><%Static%></option>
                    </select><span title="<%Required%>"></span>
                </div>
                <div>
                    <label><%Username%></label>
                    <input  id="wan-username" name="wan-username" type="text"><span title="<%Required%>"></span>
                </div>
                <div>
                    <label><%Password%></label>
                    <input  id="wan-password" name="wan-password" type="text"><span title="<%Required%>"></span>
                </div>
                <div>
                    <label><%IP Address%></label>
                    <input  id="wan-ipaddr" name="wan-ipaddr" type="text" required pattern="((^|\.)((25[0-5])|(2[0-4]\d)|(1\d\d)|([1-9]?\d))){4}$"><span title="<%Invalid IP Address%>"></span>
                </div>
                <div>
                    <label><%Netmask%></label>
                    <input  id="wan-netmask" name="wan-netmask" type="text" required pattern="((^|\.)((25[0-5])|(2[0-4]\d)|(1\d\d)|([1-9]?\d))){4}$"><span title="<%Invalid netmask%>"></span>
                </div>
                <div>
                    <label><%Gateway%></label>
                    <input  id="wan-gateway" name="wan-gateway" type="text" required pattern="((^|\.)((25[0-5])|(2[0-4]\d)|(1\d\d)|([1-9]?\d))){4}$"><span title="<%Invalid gateway%>"></span>
                </div>
                <div>
                    <label><%DNS%></label>
                    <input  id="wan-dns" name="wan-dns" type="text"><span title="<%Invalid dns%>"></span>
                </div>
            </form>
        </div>
    </div>
    <div class="tab" >
        <input type="radio" id="tab-2" name="wan-mode" value="wifi" >
        <label class="label_right" for="tab-2" id="tab-label-2"><%Repeater%></label>
        <div class="tab_separator"></div>
        <div class="tab_content" id="tab-content-repeater">
            <form id="form-wan-repeater">
                <input type="hidden" name="wan-proto" value="wifi">
                <input type="hidden" name="action" value="updatewan">
                <input type="hidden" id="wan-encryption" name="wan-encryption" value="">
                <input type="hidden" id="wan-channel" name="wan-channel" value="">
                <input type="hidden" id="wan-mac" name="wan-mac" value="">
		<input type="hidden" id="wan-band"  name="wan-band" value="">
                <div>
                    <label>SSID</label>
                    <select class="select1 long" id="wan-ssid" name="wan-ssid" >
                    </select>
                    <span id="wan-ssid-msg" class="warningmsg"></span>
                </div>
                <div>
                    <div id="passy1"><label><%Password%></label>
                    <input id="wan-key" type="text" placeholder="Leave Blank to keep unchanged" name="wan-key"></div>
                </div>
                <div>
                    <label><%Mode%></label>
                    <select class="select1" id="wan-wds" name="wan-wds" >
                        <option value="wisp">WISPs</option>
                        <option value="wds">WDS</option>
                    </select>
                    <span id="wds-msg" class="warningmsg"></span>
                </div>
                <div id="wds-lan-ip" style="display:none">
                    <label><%LAN IP%></label>
                    <input type="text" class="input" placeholder="" id="wds-lan-ipaddr" name="lan-ipaddr" pattern="((^|\.)((25[0-5])|(2[0-4]\d)|(1\d\d)|([1-9]?\d))){4}$">
                    <span title="<%Invalid IP Address%>"></span>
                </div>
				<div>
                    <label for="auto-connect"><%Remember%></label>
                    <input class="input" id="auto-connect" type="checkbox" name="auto-connect" checked><span for="auto-connect">Remember this network</span>
                </div>
            </form>
        </div><div class="div_submit">
    <input type="submit" id="submit_wan" class="button_submit" value="<%Submit%>">
    <div id="wan-message" class="errormsg"></div>
</div>
    </div>
    <div class="tab" style="display:none">
        <input type="radio" id="tab-3" name="wan-mode" value="wwan" >
        <label class="label_right" for="tab-3" id="tab-label-3">3/4G</label>
        <div class="tab_separator"></div>
        <div class="tab_content" >
            <form id="form-wan-3g">
                <input type="hidden" name="wan-proto" value="wwan">
                <input type="hidden" name="action" value="updatewan">
                <div id="div-3g-setup-manually">
                    <div id="div-3g-country">
                        <label><%Country/Region%></label>
                        <select id="3g-country" name="3g-country" class="select1">
                        </select>
                    </div>
                    <div id="div-3g-sp">
                        <label><%Service Provider%></label>
                        <select id="3g-sp" name="3g-sp" class="select1">
                        </select><span title="<%Required%>"></span>
                    </div>
                    <div id="div-3g-auto" style="display:none">
                        <label> </label>
                        <input type="checkbox" name="3g-auto" id="3g-auto"> <label style="font-size:14px; width: auto" for="3g-auto">(<%Automatically use 3G modem if connected%>)</label>
                    </div>
                    <div id="div-3g-device" class="modem">
                        <label><%Modem Device%></label>
                        <select id="3g-device" name="3g-device" class="select1" required>
                        </select><span title="<%Required%>"></span>
                    </div>
                    <div id="div-3g-mode" class="modem">
                        <label><%Service Type%></label>
                        <select id="3g-service" name="3g-service" class="select1">
                            <option value="umts">UMTS/GPRS (W-CDMA)</option>
                            <option value="evdo">CDMA/EVDO (CDMA2000)</option>
                        </select>
                    </div>
                    <div id="div-3g-apn" class="modem">
                        <label>APN</label>
                        <input id="3g-apn" name="3g-apn" type="text" class="lightgray">
                    </div>
                    <div id="div-3g-dialnum" class="modem">
                        <label>Dial Number</label>
                        <input id="3g-dialnum" name="3g-dialnum" type="text" class="lightgray">
                    </div>
                    <div id="div-3g-pin" class="modem">
                        <label>Pin</label>
                        <input id="3g-pin" name="3g-pin" type="text" class="lightgray">
                    </div>
                    <div id="div-3g-username" class="modem">
                        <label><%Username%></label>
                        <input id="3g-username" name="wan-username" type="text" class="lightgray">
                    </div>
                    <div id="div-3g-password"  class="modem">
                        <label><%Password%></label>
                        <input id="3g-password" name="wan-password" type="text" class="lightgray">
                    </div>
                    <div id="div-3g-simple-msg" style="margin-top:20px">
                        <span id="3g-simple-msg" class="errormsg"></span>
                    </div>
                </div>
                <input type="text" id="3g-setting-mode" name="3g-advanced" value="simple" style="display:none">
                <input id="advanced-3g-toggle" type="button" value="<%Advanced Setup%> >>>" style="display:none">
            </form>
        </div>

    </div>
    <div class="tab" style="display:none">
        <input type="radio" id="tab-4" name="wan-mode" value="phone" >
        <label class="label_right" for="tab-4" id="tab-label-4"><%Tethering%></label>
        <div class="tab_separator" style="border-radius: 0 10px 0 0"></div>
        <div class="tab_content">
            <form id="form-wan-phone">
                <input type="hidden" name="wan-proto" value="phone">
                <input type="hidden" name="action" value="updatewan">
                <div id="div-phone">
                    <label><%Phone device%></label>
                    <select id="phone_device" name="phone_device" class="select1" required></select>
                </div>
                <div id="div-phone-auto" style="display:none">
                    <label><%Auto Connect%></label>
                    <input type="checkbox" id="phone-3g"> <label style="font-size:14px; width: auto" for="phone-3g">(<%Automatically use phone tethering if connected%>)</label>
                </div>
                <div id="div-phone-msg" style="margin-top:20px">
                        <span id="phone-msg" class="errormsg"></span>
                    </div>
            </form>
        </div>
    </div>
</div>
<div class="pop_main">


</div>

<script>
$.ajaxSetup({
	cache: false,
	headers: {'X-CSRF-TOKEN':'<%HTTP-X-CSRF-TOKEN%>'}
});

dic["11ng"]="<%static_11n_speed%>";
dic["11ng2"]="<%static_11n2_speed%>";

var mobile=false;

/*Bind event*/
$("#img-internet").click(function(){
	popWanSetting();
});
$("#img-wifi-0").click(function(){
	popWifiSetting();
});
$("#div-internet").click(function(){
	$("#div_main").load("/html/wan_status");
	if(window.history.pushState) window.history.pushState({},null,"index?index&wan_status");
});
$("#div-wifi-0").click(function(){
	$("#div_main").load("/html/wifi_status");
	if(window.history.pushState) window.history.pushState({},null,"index?index&wifi_status");
});
$("#div-port").click(function(){
	$("#div_main").load("/html/port_status");
	if(window.history.pushState) window.history.pushState({},null,"index?index&port_status");
});
$("#div-firmware").click(function(){
	$("#div_main").load("/html/firmware_status");
	if(window.history.pushState) window.history.pushState({},null,"index?index&firmware_status");
});
$("#div-clients").click(function(){
	$("#div_main").load("/html/clients");
	if(window.history.pushState) window.history.pushState({},null,"index?index&clients");
});

$(".div_setting").click(function(){
	$(".indicator").hide();
	$(".indicator1").hide();
	$(this).find(".indicator").show();
	$(".div_setting").removeClass("highlight");
	$(".div_app").removeClass("highlight");
	$(this).addClass("highlight");
});
$(".div_app").click(function(){
	var url=$(this).attr("data-url");
	window.location="/html/index?"+url;
});
function setup_access(){
	$('#div-port').trigger('click');
}
function check_firmware(){
	$("#div-firmware").trigger('click');
}
function change_lanip(){
	$("#div-wifi-0").trigger('click');
	setTimeout(function(){display_lanip()},200);
}
$("[id^='wifi_status']").click(function(e){
	e.stopPropagation();
});

function highlight_app(url){
	var div_app=$(".div_app[data-url='"+url+"']");
	$(div_app).find(".indicator1").show();
	if(url != "index") 	$(".div_app").addClass("dim");
	$(div_app).removeClass("dim");
	$(div_app).addClass("highlight");
}

var checker;
var checker_upnp;
var query=document.URL.split('?')[1];
var page;
if(query && (page=query.match(/[a-z0-9_]*.html/))){
	$("#div_area").load("/html/"+page);
	highlight_app(page);
}else{
	highlight_app("index");
	/*Run once after load*/
	getNetworkStatus();
	getDeviceStatus();
	checkUpnp();
	getClients();
	getFirmwareStatus();
	checkAvailability();

	startChecker();
	checker_upnp=setInterval(function(){
		checkUpnp();
		checkAvailability();
	},60000);
	/*go to subpage*/
	var subpage=document.URL.split('&')[1];
	if(subpage){
		$("#div_main").load("/html/"+subpage);
	}else{
		$("#div_main").load("/html/default")
	}
}

function startChecker(){
	checker=setInterval(function(){
		getNetworkStatus();
		getDeviceStatus();
		getClients();
	},5000);
}
function stopChecker(){
	window.clearInterval(checker);
}

/*Close the popup*/
$("#modal-close").click(function(){
	close_modal();
});
function go_advanced(){
	if(confirm("<%Advanced settings page needs separate login%>. \n\n<%It is for hobbyist and no support will be provided%>. \n\n<%Using improper settings will brick your router%>.")==true) return true;
	else return false;
}
</script>
<script>
	wan_proto_change(); //initial display

    if( typeof repeater_only == 'undefined' || !repeater_only){
		arrangeTabs("tab-1"); //arrange default tab status-bar
		fill_wan_settings(); //get wan settings from server
	}else{
		arrangeTabs("tab-2");
		scanwifi();
	}
    $("#wan-wds").change( function(){
        var repeater_mode=this.value;
        if(repeater_mode == "wisp"){
            $("#wds-lan-ip").hide();
        }else if(repeater_mode=="wds"){
            $("#wds-lan-ip").show();
        }else{
        }
    });

    //change mode: cable, repeater, 3g, phone
    $("input[name='wan-mode']").change( function(){
        arrangeTabs(this.id);
        var wan_mod=$("input[name='wan-mode']:checked").val();
        if(wan_mod=="cable"){

        }else if(wan_mod=="wifi") {
            scanwifi();
        }else if(wan_mod=="wwan") {
            fill_3g_info();
        }else {
            check_phone_connection();
        }
    });

    //submit information
    $("#submit_wan").click(function(){
        console.log("check validity");
        $("#wan-message").text("");
        var wan_mod=$("input[name='wan-mode']:checked").val();
        var data;
        if(wan_mod=="cable"){
            data=$("#form-wan-cable").serialize();
            if(!$("#form-wan-cable")[0].checkValidity())return;
        }else if(wan_mod=="wifi") {
            data=$("#form-wan-repeater").serialize();
            console.log("data="+data);
           // if(!$("#form-wan-repeater")[0].checkValidity())return;
        }else if(wan_mod=="wwan") {
            data=$("#form-wan-3g").serialize();
            if(!$("#form-wan-3g")[0].checkValidity())return;
        }else {
            data=$("#form-wan-phone").serialize();
            if(!$("#form-wan-phone")[0].checkValidity())return;
        }
        console.log("start to update");
        $.ajax({
            type: "POST",
            url: "/cgi-bin/router_cgi",
            data: data,
            dataType: 'json',
            success: function(result){
                console.log("update success");
                if(result.success){
                    close_modal();
                }else{
                    $("#wan-message").text(result.error);
                }
            },
            error: function(xhr, textStatus, errorThron){
                $("#wan-message").text(textStatus);
                console.log("update error");
            }

        });
    });


    //when using cable, refresh UI
    $("#wan-proto").change(function(){
        wan_proto_change();
    });

    //toggle between advanced and basic 3G setting-mode
    $("#advanced-3g-toggle").click(function(){
        var setting_mode=$("#3g-setting-mode").val();
        swtich_3g_mode_from(setting_mode);
    });

    //when changing country, refresh sp
    $('#3g-country').on('change', function (e) {
        refresh_3g_sp();
    });


    //when changing sp, refresh settings
    $('#3g-sp').on('change', function (e) {
        refresh_3g_settings();
    });


    //choose scanned stations
    $("#wan-ssid").change(function(){
        var index=$("#wan-ssid")[0].selectedIndex;
	if ( index < 0){
		index = 0;
		$("#wan-ssid")[0].selectedIndex = 0;
	}
	var encryption=stations[index].Encryption;
        $("#wan-encryption").val( encryption );
        $("#wan-channel").val(stations[index].Channel);
        $("#wan-mac").val(stations[index].MAC);
	$("#wan-band").val(stations[index].Band);
        if(encryption.indexOf("psk")!=-1){
			$("#wan-key").prop('required',true);
			$("#wan-key").attr('pattern',".{8,}");
		}if(encryption.indexOf("wep")!=-1){
			$("#wan-key").prop('required',true);
			$("#wan-key").attr('pattern',".{5}|.{13}");
		}if(encryption.indexOf("none")!=-1){
			$("#wan-key").prop('required',false);
			$("#wan-key").attr('pattern',"");
		}
    });

</script>

            
    

            
            <script>
var wan-ssid = jQuery('#wan-ssid');
var select = this.value;
wan-ssid.change(function () {
    if ($(this).val() == has_password=true {
        $(‘.passy1’).show();
    }
    else $(‘.passy1’).hide(); // hide div if value is not "custom"
});




</script>