nav ul a:hover {
color: purple;
text-decoration: none;

.divider1{height:1px;overflow:hidden;background-color:#616161}</style>                      
                         
                        
img::selection {
    background-color: transparent;
    color: #000;
}             
                 
				
                        
                           
    body {
background-image: url("/images/bgx.jpeg");
background-color: rebeccapurple;
min-height:100vh;
background-blend-mode: multiply;
background-repeat: no-repeat;
background-position: center;
background-size: cover;
opacity: 100; filter: alpha(opacity=20); 
        


}

    .vertical-center {
margin-top:-74px;
        margin-bottom:-74px;
min-height:100vh;
display:flex;
align-items:center;
justify-content:center;
flex-direction: column;
z-index: 0;
}
             


        