.borderRadius{-moz-border-radius:3px; border-radius:3px; }
.borderRadiusTp{-moz-border-radius:3px 10px 0 0; border-radius:3px 3px 0 0;}
.borderRadiusBtm{-moz-border-radius:0 0 10px 10px ; border-radius:0 0 3px 3px;}

.ddcommon {font-size:1.2em;position:relative;display:-moz-inline-stack; zoom:1; display:inline-block; *display:inline; cursor:default;}
.ddcommon ul{padding:0;margin:0;}
.ddcommon ul li{list-style-type:none;}
.borderRadiusTp ul li:last-child{-moz-border-radius:0 0 3px 3px ; border-radius:0 0 3px 3px;border-bottom:0 none #c3c3c3; }
.borderRadiusBtm ul li:first-child{-moz-border-radius:3px 3px 0 0; border-radius:3px 3px 0 0 ;border-bottom:1 solid #c3c3c3; }

.ddcommon .disabled img, .ddcommon .disabled span, .ddcommon.disabledAll{
opacity: .5; /* standard: ff gt 1.5, opera, safari */
-ms-filter:"alpha(opacity=50)"; /* ie 8 */
filter:alpha(opacity=50); /* ie lt 7 */
-khtml-opacity:.5; /* safari 1.x */
-moz-opacity:.5; /* ff lt 1.5, netscape */
color:#999999;
}
.ddcommon .clear{clear:both}

.ddcommon input.text{color:#7e7e7e;padding:0 0 0 0; position:absolute; background:#fff; display:block; width:98%; height:98%; left:2px; top:0; border:none;}
.ddOutOfVision{position:relative; display:-moz-inline-stack; display:inline-block; zoom:1; *display:inline;}
.borderRadiusTp .border, .borderRadius .border{-moz-border-radius:0 0 3px 3px ; border-radius:0 0 3px 3px;}
.borderRadiusBtm .border{-moz-border-radius:3px 3px 0 0; border-radius:3px 3px 0 0;}
img.fnone{float:none !important}
.ddcommon .divider{width:0; height:31px; position:absolute;}
.ddcommon .ddArrow{display:inline-block; position:absolute; right:4px;}
.ddcommon .ddArrow:hover{}
.ddcommon .ddTitle{padding:1px; position:relative; display:inline-block; width:100%; }
.ddcommon .ddTitle .ddTitleText{display:block;}
.ddcommon .ddTitle .ddTitleText .ddTitleText{padding:0;}
.ddcommon .ddTitle .description{display:block;}
.ddcommon .ddTitle .ddTitleText img{position:relative; vertical-align:middle; float:left; height:25px;}
.ddcommon .ddChild{position:absolute;display:none;width:100%;overflow-y:auto; overflow-x:hidden; zoom:1; z-index:9999}
.ddcommon .ddChild li{clear:both;}
.ddcommon .ddChild li .description{display:block;}
.ddcommon .ddChild li img{border:0 none; position:relative;vertical-align:middle;float:left; height:25px;}
.ddcommon .ddChild li.optgroup{padding:0;}
.ddcommon .ddChild li.optgroup .optgroupTitle{padding:0 5px; font-weight:bold; font-style:italic}
.ddcommon .ddChild li.optgroup ul li{padding:5px 5px 5px 15px}
.ddcommon .noBorderTop{border-top:none 0  !important; padding:0; margin:0;}

/*************** default theme **********************/
.dd{border:1px solid #cdd1d2; text-align:left;}
.dd .divider{border-left:1px solid #fff; border-right:1px solid #fff;; right:30px;}
.dd .ddArrow{width:23px;height:23px; background:url(/images/ssidarrow.png) no-repeat; opacity:0.99; margin-top:4px;}
.dd .ddArrow:hover{ opacity:0.8; }
.dd .ddTitle{color:#000; height:31px;}
.dd .ddTitle .ddTitleText{padding-left: 5px; padding-top:6px}
.dd .ddTitle .ddTitleText .ddTitleText{padding:0;}
.dd .ddTitle .description{font-size:12px; color:#666}
.dd .ddTitle .ddTitleText img{padding-right:5px; height:25px;}
.dd .ddChild{border:1px solid #cdd1d2; background-color:#fff; left:-1px;}
.dd .ddChild li{padding:5px; background-color:#fff; border-bottom:1px solid #D8D8D8;}
.dd .ddChild li .description{color:#666;}
.dd .ddChild li .ddlabel{color:#333;}
.dd .ddChild li.hover{background-color:#f2f2f2}
.dd .ddChild li img{padding:0 6px 0 0;height:25px;}
.dd .ddChild li.optgroup{padding:0;}
.dd .ddChild li.optgroup .optgroupTitle{padding:0 5px; font-weight:bold; font-style:italic}
.dd .ddChild li.optgroup ul li{padding:5px 5px 5px 15px}
.dd .ddChild li.selected{background-color:#f2f2f2; color:#000;}
