html,body {
	margin: 0;
	padding: 0;
}
.slider {
	width: 328px;
	
}

.slider-wrapper {
	width: 328px;
	height: 328px;
	position: relative;
}

.slide {
	float: left;
	position: absolute;
	width: 100%;
	height: 100%;
	opacity: 0;
	transition: opacity 0.9s linear;
}

.slider-wrapper > .slide:first-child {
	opacity: 1;
}
